/*
Theme Name: flagstudio
*/

/*
html, body, div, span, iframe,
h1, h2, h3, h4, p, a, em, img, q, s, samp,
small, sub, sup, b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, figure, figcaption,
footer, header, menu, nav, section, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

button, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
    width: 100%;
    display: table;
    line-height: 1;
    overflow-y: scroll;
}

header {
    display: table;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: none;
}

::-webkit-input-placeholder {color:#909090;}
::-moz-placeholder          {color:#909090;}
:-moz-placeholder           {color:#909090;}
:-ms-input-placeholder      {color:#909090;}

!* animation samples {
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;

    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}*!
*/
