//
// Fonts
// --------------------------------------------------

// @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext';



//
// Defaults
// --------------------------------------------------

::selection {
  background: rgba($black, .7);
  color: $white;
}

//firefox input[type=number]

input[type=number] {
  -moz-appearance:textfield;

  &:focus,
  &:active {
    -moz-appearance:spinner-textfield;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  margin: 0;
}

body {
  background-color: $white;
  font: {
    family: $font-family-base;
    size: $font-size-base;
    weight: $regular;
  }
  line-height: $line-height-base;
}
body, html {
  min-height: 100%;
  height: auto;
}
main {
  min-height: 100%;
  //margin-bottom: -$footer-height;
  //&::after {
  //  content: '';
  //  display: block;
  //  height: $footer-height;
  //}
}

main,
footer {
  max-width: 100%;
  min-width: $site-width;
}

footer {
  height: $footer-height;
}

.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: $site-width;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 $site-gutter;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@keyframes lightSpeedIn {
  0% {
    opacity: 1;
    clip-path: circle( 10% at 50% 50%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    clip-path: circle( 100% at 50% 50%);;
  }
}
@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}