//
// Fonts
// --------------------------------------------------
@font-face {
  font-family: 'Leto Sans';
  src: url("../fonts/letosans-thin.woff") format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Leto Sans';
  src: url("../fonts/letosans.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Leto Sans';
  src: url("../fonts/letosans-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

