footer {
  margin-top: 75px;
  font-family: $font-family-base;
  font-weight: $regular;
  color: $white;
  font-size: 12px;
  background: $footer-bg-color-1;
  background: linear-gradient(to right, $footer-bg-color-1 0%, $footer-bg-color-1 50%, $footer-bg-color-2 50%, $footer-bg-color-2 100%);
  z-index: 1;
  .second-bg {
    padding: 95px 0 10px;
    background: url("#{$path-img}bg-footer.jpg") no-repeat center;
  }
  .inner {
    flex-direction: column;
    z-index: 2;
  }
  .first-row,
  .second-row {
    display: flex;
    justify-content: space-between;
  }
  .second-row {
    align-items: flex-end;
    margin: 50px 0;
  }
  .footer-menu {
    ul {
      height: 200px;
      width: 700px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      li {
        margin-bottom: 25px;
        a {
          text-transform: uppercase;
          transition: all 0.2s;
          &:hover {
            color: #82898e;
            transition: all 0.2s;
          }
        }
      }
    }
  }

  .contacts {
    font-size: 14px;
    padding-right: 20px;
    width: 350px;
    h3 {
      padding-left: 45px;
      font-weight: $regular;
      margin-bottom: 28px;
    }
    address {
      position: relative;
      padding-left: 45px;
      margin-bottom: 35px;
      font-style: normal;
      line-height: 31px;
      &:before {
        content: "";
        position: absolute;
        width: 34px;
        height: 34px;
        top: 50%;
        margin-top: -17px;
        left: 0;
        background: url("#{$path-img}map-point-circle-orange.png") no-repeat center;
      }
    }
    .phones {
      position: relative;
      height: 55px;
      padding-left: 45px;
      font-size: 14px;
      line-height: 26px;
      font-weight: $regular;
      span {
        font-weight: $bold;
      }
      &:before {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        top: 50%;
        margin-top: -11px;
        left: 7px;
        background: url("#{$path-img}icon-phone-footer.png") no-repeat center;
      }
    }
  }
  .additional-info {
    padding-top: 25px;
    border-top: 1px solid #475C68;
    color: #adb2b6;
    p {
      margin-bottom: 7px;
    }
    a {
      color: #fff;
      padding-left: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .social-icons {
    display: flex;
    font-size: 0;
    border: 1px solid #5F7987;
    a {
      position: relative;
      width: 40px;
      height: 40px;
      border-left: 1px solid #5F7987;
      transition: background 0.3s;
      &:first-of-type {
        border: none;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: url("#{$path-img}social-icons.png") no-repeat center;
      }
    }
    .fb {
      &::before {
        width: 9px;
        margin-left: -4px;
        height: 16px;
        margin-top: -8px;
        background-position: -9px 0;
      }
      &:hover {
        background: $white;
        transition: background 0.3s;
        &::before {
          background-position: 0 0;
        }
      }
    }
    .vk {
      &::before {
        width: 21px;
        margin-left: -11px;
        height: 12px;
        margin-top: -6px;
        background-position: -119px 0;
      }
      &:hover {
        background: $white;
        transition: background 0.3s;
        &::before {
          background-position: -98px 0;
        }
      }
    }
    .inst {
      &::before {
        margin-left: -8px;
        margin-top: -8px;
        width: 15px;
        height: 15px;
        background-position: -33px 0;
      }
      &:hover {
        background: $white;
        transition: background 0.3s;
        &::before {
          background-position: -18px 0;
        }
      }
    }
    .ok {
      &::before {
        margin-left: -5px;
        margin-top: -9px;
        width: 10px;
        height: 17px;
        background-position: -58px 0;
      }
      &:hover {
        background: $white;
        transition: background 0.3s;
        &::before {
          background-position: -48px 0;
        }
      }
    }
    .ps {
      &::before {
        margin-left: -8px;
        margin-top: -9px;
        width: 15px;
        height: 18px;
        background-position: -83px 0;
      }
      &:hover {
        background: $white;
        transition: background 0.3s;
        &::before {
          background-position: -68px 0;
        }
      }
    }
    .you {
      &::before {
        margin-left: -8px;
        margin-top: -10px;
        width: 16px;
        height: 19px;
        background-position: -156px 0;
      }
      &:hover {
        background: $white;
        transition: background 0.3s;
        &::before {
          background-position: -140px 0;
        }
      }
    }
  }

  .developer {
    font-size: 13px;
    a {
      color: #9ba6af;
    }
    span {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.popup-block-test-drive,
.popup-block-equipment,
.popup-block-repair,
.popup-block-call,
.popup-block-alert,
.popup-block-offer,
.popup-block-book,
.popup-block-materials-1,
.popup-block-materials-2,
.popup-block-materials-3,
.popup-block-materials-4,
.popup-block-materials-5,
.popup-block-service-request,
.popup-block-service-fast,
.popup-block-credit-fast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  font-size: 14px;
  font-family: $font-family-base;
  color: $text-color-black;
  transition:opacity 0.5s , visibility 0.5s;
  overflow-y: scroll;
  .overlay {
    background: rgba(#2a353f, 0.6);
    width: 100%;
    height: 100%;
    cursor: pointer;
    min-height: 1000px;
  }
  .popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: calc((100vw - 672px - 17px)/2);
    width: 672px;
    height: 700px;
    padding: 50px;
    background: $white;
  }
  .repair-popup {
    height: 820px;
  }
  .call-popup {
    height: auto;
    top: 20%;
  }
  .alert-popup {
    top: 20%;
    width: 772px;
    height: auto;
    left: calc((100vw - 772px - 17px)/2);
    h2 {
      text-align: left;
      width: 400px;
      font-size: 30px;
      &::after {
        margin-left: 0;
        left: 0;
      }
    }
    p {
      text-align: left;
      width: 400px;
      font-size: 17px;
    }
  }
  .offer-popup {
    top: 20%;
    width: 1072px;
    left: calc((100vw - 1072px - 17px)/2);
    height: auto;
    h2 {
      text-align: left;
      width: 450px;
      font-size: 30px;
      &::after {
        margin-left: 0;
        left: 0;
      }
    }
    p {
      text-align: left;
      width: 450px;
      font-size: 17px;
    }
  }

  h2 {
    position: relative;
    font-size: 35px;
    font-weight: $thin;
    padding-bottom: 30px;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -19px;
      width: 38px;
      height: 2px;
      background: #EBEBEB;
    }
  }
  p {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    line-height: 26px;
  }
  strong {
    color: $brand-color-orange;
  }
  .main-form {
    margin-top: 20px;
    width: 100%;
  }
  .alert-form {
    width: 400px;
    padding-right: 45px;
  }
  .offer-form {
    width: 400px;
  }

  .choose-car {
    width: 100%;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #9EAAAE;
    font-family: $font-family-base;
    font-weight: $regular;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
    color: $text-color-gray;
    &+span{
      transform: translateY(-25px);
      transition: transform 0.3s;
    }
    &:focus{
      outline: none;
      border-bottom-color: #37515A;
    }
  }
  .top {
    transform: translateY(-25px);
    transition: transform 0.3s;
  }

  .popup-submit {
    width: 100%;

    &:disabled {
      border-color: lighten($brand-color-orange, 30%);
      color: lighten($brand-color-orange, 30%);
      cursor: default;
      &:hover {
        background: none;
        color: lighten($brand-color-orange, 30%);
      }
    }
  }
  .popup-submit.submit-thin {
    padding: 15px 35px;
  }
  .close-btn {
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 0;
    width: 30.5px;
    height: 30px;
    box-shadow: none;
    background: none;
    border: none;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 44px;
      height: 2px;
      top: 0;
      background: #fff;
    }
    &::before {
      transform: rotate(45deg);
      transform-origin: top left;
      left: 0;
    }
    &::after {
      transform: rotate(-45deg);
      transform-origin: top right;
      right: 0;
    }
    &:hover,
    &:focus {
      outline: none;
      &::before,
      &::after {
        background: $brand-color-orange;
      }
    }
  }
}
.alert-form__image-wrap {
  position: absolute;
  bottom: 0;
  right: 50px;
  max-width: 250px;
  img {
    object-fit: contain;
  }
}
.offer-form__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 560px;
  height: 100%;
  background: $white no-repeat left/cover;
}
.alert-form input[type=submit],
.offer-form input[type=submit] {
  width: auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s , visibility 0.5s, z-index 1s;
}
.no-scroll {
  overflow: hidden;
}
.timer {
  margin-top: 20px;
  width: 400px;
  display: flex;
}
.timer__item {
  margin-right: 25px;
}
.timer__number {
  width: 66px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E9F1F6;
  color: $text-color-black;
  font: $regular 30px/1.3 $font-family-base;
}
.timer__text {
  display: block;
  font: $regular 14px/1.3 $font-family-base;
  text-align: center;
  color: $text-color-black;
}

  /**
   * Cookie compliance
   */

.cookie-compliance {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: $white;
  z-index: 9999;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
}

.cookie-compliance__text {
  color: $text-color-black;
  font-size: 13px;
}

.cookie-compliance__link {
  text-decoration: underline;
  -webkit-transition: text-decoration ease-in-out .2s;
  -o-transition: text-decoration ease-in-out .2s;
  transition: text-decoration ease-in-out .2s;
}

.cookie-compliance__link:hover {
  text-decoration: none;
}

.cookie-compliance__btn {
  display: block;
  width: 102px;
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  box-shadow: none;
  color: #fff;
  background: $brand-color-orange;
  font-size: 13px;
  -webkit-transition: background-color ease-in-out .2s;
  -o-transition: background-color ease-in-out .2s;
  transition: background-color ease-in-out .2s;
}

.cookie-compliance__btn:hover {
  background-color: darken($brand-color-orange, 5%);
  transition: background-color ease-in-out .2s;
}
.personal-data,
.privacy-policy {
  display: none;
  &:checked + .custom-checkbox::before {
    background: $brand-color-orange url("#{$path-img}icon-confirm.png") no-repeat center;
  }
}
.custom-checkbox {
  position: relative;
  margin-bottom: 15px;
  padding-left: 35px;
  cursor: pointer;
  a {
    text-decoration: underline;
    line-height: 20px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $brand-color-orange;
  }
}

@include tablet-lg {
  .popup-block-test-drive,
  .popup-block-equipment,
  .popup-block-repair,
  .popup-block-call,
  .popup-block-alert,
  .popup-block-offer,
  .popup-block-book,
  .popup-block-materials-1,
  .popup-block-materials-2,
  .popup-block-materials-3,
  .popup-block-materials-4,
  .popup-block-materials-5,
  .popup-block-service-request,
  .popup-block-service-fast,
  .popup-block-credit-fast {
    .close-btn {
      right: -40px;
    }
  }
}