header {
  color: $text-color-gray;
  .inner {
    align-items: center;
  }
}

//style for burger menu

.cmn-toggle-switch {
  display: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  background-color: #fff;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  height: 4px;

  &::before,
  &::after {
    height: 4px;
  }
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  transform: translateY(-50%);
  background: $text-color-gray;
  transition: background 0s;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  background-color: $text-color-gray;
  content: "";

  transition-duration: 0.3s, 0.3s;
  //transition-delay: 0s, 0.3s;
}

.cmn-toggle-switch span::before {
  top: -15px;
  transition-property: top, transform;
}

.cmn-toggle-switch span::after {
  bottom: -15px;
  transition-property: bottom, transform;
}


/* active state*/
.cmn-toggle-switch.active {
  position: relative;
  z-index: 10;
  background-color: #fff;
  transition: all 1s;
}

.cmn-toggle-switch.active span {
  background: none;
}

.cmn-toggle-switch.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.cmn-toggle-switch.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.cmn-toggle-switch.active span::before,
.cmn-toggle-switch.active span::after {
  transition-delay: 0s, .3s;
}

.top-menu {
  padding: 15px 0;
  background: $white;
  address {
    //position: relative;
    //padding-left: 20px;
    font-size: 12px;
    font-style: normal;

    a {
      position: relative;
      padding-left: 20px;
      &:before {
        content: "";
        position: absolute;
        width: 11px;
        height: 15px;
        top: 50%;
        margin-top: -7px;
        left: 0;
        background: url("#{$path-img}icons-header.png") no-repeat center;
        background-position: 0 0;
      }
    }

  }
  .phones {
    display: flex;
    position: relative;
    padding-left: 25px;
    margin-right: 20px;
    &:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 50%;
      margin-top: -7px;
      left: 0;
      background: url("#{$path-img}icons-header.png") no-repeat center;
      background-position: -53px 0;
    }
  }
  .phone {
    margin-right: 10px;
    span {
      font-weight: $bold;
    }
  }
}
.main-menu {
  position: relative;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  a {
    line-height: 1.3;
  }

  .inner {
    position: static;
    >ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        position: relative;
        > a {
          display: block;
          position: relative;
          padding: 15px;
          margin: 5px 0;
          text-transform: uppercase;
          font-family: $font-family-base;
          font-weight: $bold;
          font-size: 13px;
        }
        &:hover {
          >.sub-menu {
            visibility: visible;
            opacity: 1;
            border-top: 4px solid $brand-color-orange;
          }
          >a {
            color: $brand-color-orange;
            transition: all 0.2s;
          }
        }
        >.sub-menu {
          display: flex;
          flex-direction: column;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0.2s, opacity 0.2s linear;
          justify-content: center;
          position: absolute;
          min-width: 100%;
          left: 0;
          z-index: 2;
          background-color: #fafafa;
          border-top: 4px solid transparent;
          > li {
            white-space: nowrap;
            &:not(:last-child) {
              border-bottom: 1px solid #d8e0e0;
            }
            >a{
              padding: 20px 20px 18px;
              padding-right: 25px;
              margin: 0;
              font-family: $font-family-base;
              font-weight: $bold;
              font-size: 13px;
              color: $text-color-gray;
            }

            &:hover > a,
            &:focus > a{
              color: $brand-color-orange;
            }
          }
        }
      }
      .drop-down-arrow {
        >a::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 5px;
          right: 0;
          top: 50%;
          margin-top: -3px;
          background: url("#{$path-img}arrow-drop-down.png") no-repeat center;
          transform: rotate(180deg);
          transition: transform 0.5s;
        }
        &:hover {
          >a::after {
            transform: rotate(0deg);
            transition: transform 0.5s;
          }
        }
      }
      .current-menu-item {
        >a {
          color: $brand-color-orange;
        }
      }
    }
  }
}

.main-menu {
  ul > li.menu-item-has-children {
    &::after {
      top: 50%;
      right: -10px;
      position: absolute;
      content: '';
      display: block;
      width: 13px;
      height: 8px;
      transform: translateY(-50%);
      background: url(#{$path-img}arrow-catalog.png) no-repeat center;
      background-size: 100% 100%;
      transition: transform .1s;
    }

    &:hover {
      &::after {
        background: url(#{$path-img}arrow-catalog--orange.png) no-repeat center;
        background-size: 100% 100%;
        transform: rotate(180deg) translateY(50%);
      }


    }

    .sub-menu > li.menu-item-has-children {
      &::after {
        top: auto;
        bottom: 50%;
        margin-bottom: -4px;
        right: 5px;
        transform: rotate(90deg);
      }

      & > .sub-menu {
        top: 0;
        left: 100%;
        padding: 20px;
        padding-left: 0;
        padding-right: 470px;
        background-color: #fff;
        border-top: none;
        border-left: 1px solid #d8e0e0;

        & > li {
          & > a {
            position: relative;
            padding-top: 10px;
            padding-right: 35px;
            padding-bottom: 10px;
            color: #272727;
            font-size: 12px;
          }

          &:hover > a{
            color: $brand-color-orange;

            &::after {
              z-index: 2;
              position: absolute;
              content: '';
              display: block;
              height: 17px;
              width: 20px;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              background: url('#{$path-img}arrow-btn-orange--bold.png') no-repeat center;
              background-size: contain;
            }
          }

          &:hover ~ .sub-menu__img {
            visibility: visible;
            opacity: 1;
          }
        }

        li {
          border: none;
        }
      }
    }
  }
}

.main-menu {
  .sub-menu__img {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 0;
    right: 0;
    width: 66%;
    height: 100%;
    background: url('#{$path-img}sub-menu__img.jpg') no-repeat center;
    background-size: contain;
    transition: opacity .3s linear;
    &:hover {
      visibility: visible;
      opacity: 1;
    }
  }
}

.top-menu__logotypes-wrap {
  display: flex;
  align-items: center;
}
.top-menu__avtovek-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}
.top-menu__avtovek-text {
  display: block;
  margin-top: 3px;
  font: $bold 12px/1.3 $font-family-base;
  color: $avtovek-color;
  text-align: center;
  text-transform: uppercase;
}
.top-menu__phone {
  position: relative;
  padding-left: 30px;
  font: $bold 25px/1.3 $font-family-base;
  color: $text-color-gray;
  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: 50%;
    margin-top: -11px;
    left: 0;
    background: url("#{$path-img}icon-phone-footer.png") no-repeat center;
  }
}
.top-menu__whatsapp {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  padding-left: 85px;
  font: $bold 14px/1.3 $font-family-base;
  color: $text-color-gray;
  &::before {
    content: "";
    position: absolute;
    width: 74px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    left: 0;
    background: url("#{$path-img}header-whatsapp.png") no-repeat center;
  }
}
.search-block{
  width: 100%;
  padding: 3px 0;
  display: none;
  position: absolute;
  z-index: 2;
  .inner {
    justify-content: center;
  }
  .search-field{
    display: block;
    width: 99%;
    box-shadow: 0.375px 0.927px 12px 0 rgba(46, 46, 53, 0.23);
    height: 57px;
    border: none;
    color: $text-color-gray;
    font-family: $font-family-base;
    font-size: 16px;
    padding-left: 20px;
    &:focus{
      outline: none;
    }
  }
}
.fixed-icons {
  position: fixed;
  top: 240px;
  right: 0;
  z-index: 9;
}
.fixed-icons li {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
}
.fixed-icons a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font: $bold 12px/1.3 $font-family-base;
  color: $brand-color-orange;
  text-transform: uppercase;
  background: $white;
  cursor: pointer;
  box-shadow: 0.749px 1.854px 23px 0 rgba(52, 52, 60, 0.23);
}
.fixed-icons a:hover span,
.fixed-icons a:hover span {
  padding: 0 22px;
  visibility: visible;
  opacity: 1;
  font-size: inherit;
  transform: translateX(0);
}
.fixed-icons span {
  display: flex;
  align-items: center;
  height: 40px;
  border-right: 1px solid $border-color;
  visibility: hidden;
  opacity: 0;
  font-size: 0;
  transition: all 0.3s;
  transform: translateX(100%);
}
.fixed-icons__icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.fixed-icons__icon.phone-big {
  background: url(../img/fixed-phone.png) no-repeat center;
}
.fixed-icons__icon.test {
  background: url(../img/fixed-wheel.png) no-repeat center;
}
.fixed-icons__icon.repairs {
  background: url(../img/fixed-wrench.png) no-repeat center;
}
.fixed-icons__icon.credit {
  background: url(../img/fixed-credit.png) no-repeat center;
}
.fixed-icons__icon.question {
  background: url(../img/fixed-envelope.png) no-repeat center;
}
::-webkit-input-placeholder {color:#858c90;}
::-moz-placeholder          {color:#858c90;}/* Firefox 19+ */
:-moz-placeholder           {color:#858c90;}/* Firefox 18- */
:-ms-input-placeholder      {color:#858c90;}
