@media screen and (max-width: 1199px) {
  .sales-block {
    padding-bottom: 0;

    .post-img {
      float: none;

      img {
        max-height: none;
        max-width: 100%;
        margin-right: 0;
      }
    }

    .title {
      width: 100%;
    }
  }
  .sales-request {
    .sale-form {
      input {
        width: 24%;
      }
    }
  }

  .sales-list-block {
    .sales-item {
      margin-right: 0;
    }

    .inner {
      justify-content: space-around;
    }
  }

  .breadcrumbs {
    .inner {
      display: block;
    }
  }
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
  .sales-request {
    .sale-form {
      justify-content: center;
      flex-wrap: wrap;

      input {
        width: 32%;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-right: 1%;
      }
    }

    .inner::before {
      display: none;
    }
    .sales-line {
      display: none;
    }

    .sale-form-bg {
      margin-top: 40px;
    }
  }

  .sales-block {
    padding-bottom: 0;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

@media (max-width: 601px) {
  .sales-request {
    padding-top: 0;

    .sale-form-bg {
      height: auto;
      background-size: cover;
    }
    .sale-form {
      flex-direction: column;
      align-items: center;
      padding: 10px;

      input {
        width: 50%;
      }
    }
  }
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
  .sales-block {
    padding: 20px 0;

    .title {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .sales-request {
    .sale-form {
      input {
        width: 80%;
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {

}
