.steps-block .buttons-row .step-button {
  width: auto;
  max-width: 160px;
}

.catalog-item-tabs {
  .tab {
    overflow: hidden;

    .mini-gallery {
      width: 41%;
      margin-left: 3%;
      margin-right: 4%;
    }

    .block-reverse.mini-gallery {
      margin-left: 4%;
      margin-right: 3%;
    }
  }
}

.catalog-item-tabs .tab-controls.fixed-tabs {
  width: 100vw;
  padding: 30px calc((100vw - 1200px - 17px)/2 + 15px) 0;
  padding-left: calc((100vw - 1200px - 23px)/2);
}

.catalog-item-tabs {
  .tab-controls {
    label.active {
      outline: 0;
      color: #2b4fb2;
      border-bottom: 2px solid #2b4fb2;
    }
  }
}

.mini-gallery--mobile {
  display: none !important;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

//height steps-block
$steps-block-height: 320px;
/* Landscape tablets and medium desktops */
@media screen and (max-width: 1199px) {
  .catalog-item-tabs .tab-controls.fixed-tabs {
    left: 0;
    padding-left: 0;
    padding-right: 17px;
  }
  .color-tabs-block {
    h1 {
      margin-top: 10px;
      font-size: 70px;
    }

    .price {
      font-size: 14px;
      span {
        font-size: 30px;
      }
    }
  }

  .steps-block {
    height: $steps-block-height;

    .first-step,
    .second-step {
      width: 50%;
      height: $steps-block-height;
      padding-top: 40px;
      padding-left: 40px;
    }
    .second-step {
      padding-right: 100px;
    }
    h2 {
      font-size: 24px;
    }
  }

  .catalog-item-tabs {
    .tab {
      .content-image {
        width: 50%;
        height: 350px;
        margin-right: 2%;
      }

      .block-reverse.content-image {
        margin-left: 2%;
      }
    }
  }

  .equipment-tab {
    .equipment-item {
      .request-btn {
        width: 30%;
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
  //.color-tabs-block {
  //  .inner {
  //    flex-direction: row;
  //    justify-content: space-around;
  //    align-items: center;
  //  }
  //
  //  .color-tabs-wrapper {
  //    width: 75%;
  //    padding-left: 40px;
  //  }
  //
  //  .color-pagination {
  //    flex-direction: column;
  //    width: 10%;
  //    height: 60%;
  //    margin-top: 130px;
  //    margin-right: 60px;
  //
  //    label {
  //      span {
  //        width: 44px;
  //        height: 6px;
  //      }
  //    }
  //  }
  //  .car-image {
  //    width: 100%;
  //    left: 0;
  //    margin-top: -170px;
  //    margin-left: -40px;
  //  }
  //
  //  h1 {
  //    margin-top: 10px;
  //    font-size: 50px;
  //  }
  //
  //  .price {
  //    font-size: 12px;
  //    span {
  //      font-size: 25px;
  //    }
  //  }
  //}

  .breadcrumbs {
    ul {
      li {
        a {
          position: relative;
          z-index: 10;
        }
      }
    }
  }
  .catalog-item-tabs {
    .tab {
      h2 {
        font-size: 26px;
      }

      .mini-gallery {
        .main-image {
          height: 200px;
        }

        .thumbnail {
          height: 70px;
        }

        .owl-next,
        .owl-prev {
          top: -82px;
        }
      }
    }

    .equipment-tab {
      .equipment-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-right: 0;
        padding-bottom: 0;
        h3 {
          width: 100%;
        }
      }
      .equipment-item {
        flex-direction: column;
        width: 50%;
        margin-bottom: 30px;
        .name,
        .price,
        .feature {
          width: 100%;
        }

        .price {
          justify-content: flex-start;
          margin-bottom: 20px;
          padding-right: 0;
        }
        .request-btn {
          width: 70%;
        }
      }
    }
  }

  .color-tabs-block {
    h1 {
      margin-top: 10px;
      font-size: 50px;
    }

    .price {
      font-size: 12px;
      span {
        font-size: 25px;
      }
    }

    .color-tabs-wrapper {
      width: 80%;
      .car-image {
        width: 100%;
        left: 0;
        margin-top: -210px;
        margin-left: 0;
      }
    }

    .right-buttons {
      right: -20%;
    }
  }
  .steps-block {
    margin-bottom: $steps-block-height + 70px;

    .bg1,
    .bg2 {
      width: 100%;
    }

    .bg2 {
      top: 100%;
    }

    .inner {
      flex-direction: column;
    }

    .first-step,
    .second-step {
      width: 100%;
    }

    .first-step,
    .second-step {
      padding-right: 0;
    }

    .buttons-row {
      justify-content: center;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .breadcrumbs {
    .inner {
      display: block;
    }
  }
  .color-tabs-block {
    h1 {
      margin-top: 10px;
      font-size: 30px;
    }

    .price {
      font-size: 12px;
      span {
        font-size: 25px;
      }
    }

    .color-tabs-wrapper {
      width: 100%;
      height: 390px;
      .car-image {
        margin-top: -190px;
      }
    }

    .right-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      top: auto;
      bottom: -50%;
      right: 50%;
      z-index: 1;
      transform: translateX(50%);

      .color-tabs-button {
        margin-bottom: 0;
      }

      li {
        margin-right: 10px;
      }

      li:last-child {
        margin-right: 0;
      }
    }

    .color-pagination {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 30px;
      margin-left: 40px;
      margin-bottom: 170px;

      label {
        padding-top: 20px;
      }
    }
  }

  .catalog-item-tabs {
    .tab {
      .row {
        flex-direction: column;
        align-items: center;

        .text {
          width: 100%;
          order: 1;
          margin-bottom: 20px;

          h2 {
            &::after {
              bottom: -10px;
            }
          }
        }

        .mini-gallery {
          order: 2;
          width: 70%;
          margin-left: 0;
          margin-right: 0;
        }

        .content-image {
          order: 2;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    .tabs-menu-wrapper {
      height: 117px;
    }

    .tab-controls {
      .inner {
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
      }

      label {
        margin-right: 10px;
        margin-bottom: 5px;
      }
    }
  }

  .catalog-item-tabs {
    .equipment-tab {
      .equipment-block {
        justify-content: center;
        .equipment-item {
          width: 70%;
          margin-left: 70px;
        }
      }
    }
  }
}

@media (max-width: 601px) {
  .color-tabs-block {
    .right-buttons {
      margin-bottom: -20px;
    }
  }

  .catalog-item-tabs {
    .tab {
      .content-image {
        width: 60%;
        height: 300px;
      }
    }
  }

  .catalog-item-tabs {
    .equipment-tab {
      .equipment-block {
        justify-content: center;
        .equipment-item {
          width: 100%;
          margin-left: 20px;
        }
      }
    }
  }

  .catalog-item-tabs {
    .equipment-tab {
      .equipment-block {
        padding-left: 0;

        h3 {
          margin-left: 30px;
        }

        .equipment-item {
          margin-left: 0;
          padding: 0 10px;

          .name,
          .feature,
          .price {
            padding-left: 20px;
          }
          .request-btn {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

$steps-block-height: 320px;
/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
  .color-tabs-block {
    .color-pagination {
      margin-bottom: 80px;
    }

    .right-buttons {
      margin-bottom: 20px;

      .download {
        display: none;
      }

      li {
        margin-right: 0;
      }

      li:first-child {
        margin-right: 5px;
      }
    }
  }

  .catalog-item-tabs {
    .tab {
      h2 {
        font-size: 24px;
      }

      .row {
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
  .steps-block {
    height: $steps-block-height;

    .first-step,
    .second-step {
      width: 100%;
      height: $steps-block-height;
      padding-top: 5%;
      padding-left: 0 !important;
    }

    .buttons-row {
      .step-button {
        padding-left: 35px;
        font-size: 11px;
      }
    }
  }
  .color-tabs-block {
    h1 {
      font-size: 24px;
    }

    .price {
      span {
        font-size: 16px;
      }
    }
    .color-tabs-wrapper {
      height: 320px;
      width: 100%;
      padding-left: 0;

      .car-image {
        margin-top: -230px;
      }
    }
    .color-pagination {
      position: relative;
      z-index: 10;
      top: -80px;
    }
  }
  .catalog-item-tabs {
    .tab-controls {
      label[for="gallery"] {
        display: none;
      }
      a {
        display: none;
      }
    }
  }

  #gallery-tab {
    display: none;
  }

  .catalog-item-tabs {
    .tab {
      .row {
        .mini-gallery {
          display: none;
        }

        .content-image {
          width: 50%;
          height: 200px;
        }


        .mini-gallery--mobile {
          display: block !important;
          width: 80%;
          height: auto;

          .thumbnail {
            width: 100%;
            height: 200px;
            background-size: cover;
          }
        }
      }
    }
  }

  .steps-block {
    .buttons-row {
      li {
        &:first-child {
          padding-right: 1%;
        }

        &:last-child {
          margin-left: 3%;
        }
      }
    }

    .first-step,
    .second-step {
      padding-top: 20px;
      padding-left: 10px;
    }
  }

  .catalog-item-tabs {
    .equipment-tab {

      .inner {
        margin-top: 0;
        padding: 0 45px;
      }
      .equipment-block {
        justify-content: center;
        .equipment-item {
          margin-left: 10px;

          .request-btn {
            width: 90%;
          }
        }
      }
    }
  }

  //popup

  .popup {
    width: 93% !important;
    padding: 20px !important;
    left: 10px !important;
    //transform: translateX(-50%);

    h2 {
      font-size: 16px !important;
    }

    p {
      line-height: 1.3 !important;
    }

    .close-btn {
      top: 5px;
      right: 0;

      &::before,
      &::after {
        top: 0;
        width: 24px;
        background: $text-color-gray;
      }

      &::before {
        left: 9px;
      }

      &::after {
        right: 6px;
      }
    }
  }

  .popup-block-equipment {
    .popup {
      input[name="usermodel"] {
        text-overflow: ellipsis;
        font-size: 11px;
        line-height: 11px;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {

}
