/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media screen and (max-width: 1199px) {
  .cars-about {
    padding-bottom: 0;
  }

  .car-types-margin {
    display: none;
  }
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
  .cars-catalog {
    padding-bottom: 50px;
    .breadcrumbs {
      margin-top: 25px;
    }
  }

  .car-catalog-item {
    .content {
      justify-content: flex-start;
      text-align: center;
    }
    .content-item {
      width: 33.3%;
      margin-right: 0;
    }
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .breadcrumbs {
    li {
      //text-overflow: ellipsis;
      //overflow: hidden;
      //white-space: nowrap;
      line-height: 1.5;
    }

    ul {
      flex-wrap: wrap;
    }
  }


  .car-catalog-item {
    .content-item {
      width: 50%;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 601px) {
  .cars-catalog {
    margin-bottom: 30px;
    h1 {
      font-size: 28px;
    }
  }

  .car-catalog-item {
    .content-item {
      width: 100%;
    }
  }
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
  .cars-catalog {
    margin-bottom: 10px;
    padding-bottom: 20px;
    h1 {
      font-size: 24px;
    }
  }

  .cars-about {
    .dot-title {
      font-size: 20px;
    }
  }

  .breadcrumbs {
    margin-top: 20px;
    ul {
      li {
        line-height: 1.2;
        a {
          font-size: 10px;
        }

        &::after {
          font-size: 9px;
          line-height: 9px;
        }
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {

}
