@include screen-md {
  .credit-calculator__panel {
    padding-left: 20px;
    padding-right: 50px;
  }


  .credit-stock__slider {
    .main-carousel {
      .carousel-inner {
        width: 100%;
      }

      .owl-item {
        img {
          max-width: 500px;
        }
      }
    }
  }

  .credit-calculator__panel-show {
    .cost {
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 18px;
    }

    .cost__normal {
      width: 100%;
      text-align: center;

      &::before {
        top: auto;
        right: 50%;
        bottom: 13px;
        transform: translate(50%, 100%) rotate(90deg);
      }
    }

    .cost__normal,
    .cost__per-day,
    .cost__per-month {
      &::after {
        font-size: 16px;
      }
    }
  }

  .our-partners,
  .credit-conditionals {
    h2 {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }
}

@include tablet-lg {
  .credit-calculator form {
    flex-direction: column;
  }
  .credit-calculator__select-inner {
    padding-left: 80px;
    padding-right: 80px;
  }
  .credit-calculator__select {
    order: 2;
    width: 100%;

    h1 {
      &::before {
        left: -80px;
      }
    }
  }

  .credit-calculator__panel {
    order: 1;
    width: 100%;
    padding-left: 50px;
    margin-bottom: 20px;
    text-align: center;
  }

  .credit__button {
    margin-bottom: 100px;
  }

  .credit-calculator__panel-show {
    .cost {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    
    .cost__normal {
      width: auto;
      text-align: left;
      padding-left: 20px;

      &::before {
        bottom: auto;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
      }
    }

    .cost__per-month {
      padding-right: 20px;
    }

    .img {
      width: 80%;
      height: 350px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .credit-stock__slider {
    .main-carousel {
      .owl-item {
        img {
          max-width: 90vw;
        }
      }
    }
  }

  .credit-calculator__request {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@include tablet-md {
  .credit-calculator__panel-show {
    .cost {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .cost__normal {
      width: 100%;
      text-align: center;

      &::before {
        top: auto;
        right: 50%;
        bottom: 13px;
        transform: translate(50%, 100%) rotate(90deg);
      }
    }
  }

  .credit__button {
    margin-bottom: 40px;
  }

  .credit-calculator__panel-show .img {
    width: 100%;
    margin-bottom: 0;
  }
}

@include tablet-sm {
  .credit-calculator__panel {
    padding-left: 30px;
    padding-right: 30px;
  }

  .credit__button {
    margin-bottom: 0;
  }

  .credit-calculator__select-inner {
    padding-right: 30px;
    padding-left: 30px;
  }

  .credit-first-payment {
    width: 94%;
  }

  .credit-date {
    width: 90%;
  }

  .credit-calculator__request {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@include phone-lg {
  .credit__header {
    text-align: center;
    font-size: 24px;
  }
  .credit-calculator__panel {
    padding-left: 0;
    padding-right: 0;
  }

  .credit-calculator__select h1::before {
    left: -40px;
  }

  .credit-calculator__panel-show .img {
    height: 260px;
  }

  .credit__button {
    margin-bottom: 20px;
  }

  .credit-calculator__panel-show {
    .cost {
      justify-content: space-around;
      font-size: 16px;
    }

    .cost__per-day {
      padding-left: 0;
    }

    .cost__per-month {
      padding-right: 0;
    }

    .cost__normal,
    .cost__per-day,
    .cost__per-month {
      &::after {
        font-size: 14px;
      }
    }
  }

  .credit-stock__note {
    font-size: 14px;

    .privacy-policy {
      font-size: 14px;
    }
  }

  .credit-calculator__select {
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
  .credit-calculator__select-inner {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }

  .credit-calculator__cost {
    flex-direction: column;
    align-items: center;

    .cost {
      margin-right: 0;
      margin-bottom: 10px;
    }

    p {
      width: 100%;
    }
  }

  .credit-date,
  .credit-first-payment {
    width: 100%;
  }

  .credit-first-payment {
    margin-left: auto;
    margin-right: auto;
  }
  .credit-first-payment__inner,
  .credit-date__inner {
    flex-direction: column;
    align-items: center;

    h2 {
      width: 100%;
      margin-bottom: 10px;
    }

    input[type=number] {
      width: 100%;
    }
  }

  .credit-calculator__payment {
    display: flex;
    flex-direction: column;

    .per-day {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .credit-calculator__request {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

  .credit-calculator__request-agree {
    font-size: 12px;

    .privacy-policy {
      font-size: 10px;
    }
  }

  .credit-calculator__request-title {
    text-align: center;
  }
  .credit-calculator__button {
    margin: 0 auto;
  }

  .our-partners,
  .credit-conditionals {
    h2 {
      font-size: 21px;
      text-align: center;
    }
    p {
      font-size: 16px;
    }
    ul {
      h3 {
        font-size: 18px;
      }

      li {
        font-size: 16px;
      }
    }
  }
}