@include screen-md {
  .service-notation {
    padding-right: 50px;
    text-align: justify;
  }
}

@include tablet-lg {
  .service-calculator {
    margin-bottom: 20px;
    form {
      flex-direction: column;
    }
  }

  .service-calculator__select,
  .service-calculator__panel {
    width: 100%;
    padding: 50px 70px;
  }

  .service-calculator__select {
    &::before {
      top: auto;
      right: 50%;
      bottom: 4px;
      transform: translate(50%, 100%) rotate(90deg);
    }
  }

  .service__button {
    width: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@include tablet-sm {
  .service-notation {
    padding-right: 30px;
  }

  .service-calculator__select,
  .service-calculator__panel {
    padding: 50px 50px;
  }

  .service-calculator__image {
    margin-top: 50px;
  }

  .service-calculator__data {
    width: 100%;
  }

  .service-calculator__panel-materials {
    font-size: 12px;
  }
}

@include phone-lg {
  .service {
    .inner {
      padding: 0;
    }
  }

  .service-notation {
    padding: 0 15px;
  }

  .service-calculator__select,
  .service-calculator__panel {
    padding: 50px 20px;
  }

  .service__header {
    font-size: 18px;
    text-align: center;
  }

  .service__button {
    padding: 20px 15px;
  }

  .service-calculator__image {
    margin-bottom: 20px;
  }

  .service-calculator__panel-title {
    text-align: center;
  }

  .service-calculator__panel-desc {
    padding-right: 0;
    text-align: justify;
  }

  .service-mileage {
    margin-bottom: 40px;
  }

  .service-calculator__panel-show {
    text-align: center;
  }

  .service-calculator__data-cost {
    margin-bottom: 30px;
  }

  .service-calculator__panel {
    padding-bottom: 20px;
    text-align: center;
  }

  .service-calculator__panel-materials {
    font-size: 10px;
  }
}

