/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .thanks-block {
    .inner {
      .thanks-social-icons {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        a {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 601px) {
  .thanks-block {
    .inner {
      .check-icon {
        margin-top: 30px;
      }

      .thanks-social-icons {
        justify-content: center;

        a {
          margin: 0 5% 5px;
        }
      }
    }
  }
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
  .thanks-block {
    .inner {
      .thank-you-text {
        font-size: 24px;

        span {
          margin-bottom: 30px;
        }
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {

}
