//fix IE
.information-block {
  width: 100%;
}

//fix border input for IOS
input,
textarea {
  border-radius: 0;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

//fix fixed-icons
.fixed-icons {
  top: 50vh;
  transform: translateY(-50%);
}


.main-page-slider {
  .slide {
    height: 350px;
    background-size: auto 100%;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    bottom: 50px;

    .owl-dot {
      height: 5px;
      box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, .3);
    }
  }

  .slider-text {
    padding-left: 0;
    text-shadow: 0 0 6px #000;

    h2 {
      padding-top: 0;
    }

    .btn {
      &::after {
        background-image: url("#{$path-img}arrow-btn-dark.png");
      }
    }
  }
}

//button callback in top menu

.top-menu {
  .inner {
    .show-call-popup {
      display: none;

      color: $brand-color-orange;
      &:active {
        color: inherit;
        border-color: $text-color-gray;
      }
    }
  }
}

.no-scroll {
  .top-menu {
    .inner {
      .show-call-popup {
        color: $text-color-gray;
        border-color: $text-color-gray;
      }
    }
  }
}

//hide feedback-block
.feedback-block {
  display: none;
}

.main-about {
  margin-bottom: 15px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .inner {
    max-width: 1200px;
    width: 100%;
  }

  main {
    min-width: 0;

    width: 100%;
  }

  footer {
    min-width: 0;

    width: 100%;
  }
}

/* Landscape tablets and medium desktops */
@media screen and (max-width: 1199px) {
  .inner {
    max-width: 1200px;
    width: 100%;
  }

  main {
    min-width: 0;
    max-width: 1200px;
    width: 100%;
  }

  footer {
    min-width: 0;
    max-width: 1200px;
    width: 100%;
  }

  .main-menu .inner>ul {
    flex-direction: column;
  }

  .main-menu {
    li {
      text-align: center;
    }
  }

  .main-menu ul>li.menu-item-has-children > a::after {
    display: none;
  }

  .main-menu .inner>ul li>a {
    margin: 0 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-menu__submenu-open-btn {
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: none;
    background: url(#{$path-img}arrow-catalog.png) no-repeat center;
    transition: transform 0.5s;
    outline: none;

    &.active {
      transform: rotate(180deg);
    }
  }

  .main-menu .inner>ul li>.sub-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
    border-top: 4px solid #ee6a06;
    display: none;
  }

  .main-menu ul>li.menu-item-has-children::after {
    display: none;
  }

  .main-page-slider .slide {
    //background-size: auto 250px;
    background-size: 100% 300px;
    height: 300px;
  }

  .main-page-slider {
    .owl-dots {
      bottom: 42px;
    }

    .slider-text {
      h2 {
        font-size: 52px;
      }
    }
  }

  #menu-menyu-pod-slayderom {
    flex-wrap: wrap;
  }

  .models-menu .inner>ul li {
    border: none;
  }

  .sub-menu {
    flex-wrap: wrap;
  }

  .main-carousel {
    .carousel-inner {
      width: 90%;
    }
  }

  .information-advantages {
    padding-top: 0;
    padding-bottom: 60px;

    .about-image {

      display: none;
    }

    &::before {
      display: none;
    }

    svg {
      display: none;
    }

    .information-block p {
      width: 90%;
    }
  }

  .dot-title {
    &::before {
      display: none;
    }
  }

  .map-line-svg {
    display: none;
  }

  .main-form {
    margin-bottom: 10px;
  }

  .contacts-form {
    .inner {
      justify-content: center;
      flex-wrap: wrap;
    }

    .map-block {
      margin-top: 60px;
      margin-right: 0;
    }
  }

  .car-types-block {
    .car-types-items {
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      .car-types-item {
        width: 33%;
        margin-bottom: 40px;
        text-align: center;

        .car-types-img {
          background-position: center !important;
        }
      }
    }
  }

  footer .second-bg {
    padding: 20px 0 10px;
  }

  footer {
    margin-top: 10px;
    .first-row {
      justify-content: space-between;
    }
    .footer-menu {
      width: auto;

      ul {
        width: auto;
      }
    }

    .contacts {
      width: auto;
    }
  }

  //popup

  .popup-block-offer {
    .offer-popup {
      width: 700px;
      left: calc((100vw - 700px - 17px)/2);

      h2 {
        width: 100%;
      }

      p,
      .offer-form,
      .timer {
        align-self: center;
        width: 70%;
      }

      .offer-form__image {
        display: none;
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
  .top-menu .inner {
    flex-wrap: wrap;
  }

  .top-menu__logotypes-wrap {
    width: 50%;
  }

  .top-menu__phone {
    order: 1;
  }

  .top-menu-contacts-wrap {
    order: 3;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }

  .main-page-slider .slide {
    //background-size: auto 250px;
  }

  .owl-carousel .owl-stage-outer {
    //margin-top: -115px;
  }

  .main-page-slider .owl-dots {
    //bottom: 70px;
  }

  .main-page-slider {
    .slide {
      height: 300px;
      background-size: cover;
    }
    .owl-dots {
      bottom: 2px;
    }

    .slider-text {
      h2 {
        font-size: 32px;
      }
    }
  }

  .main-carousel .owl-carousel .owl-item {
    width: 200px;
  }

  .contacts-form {
    .map-block {
      width: 100%;
      height: 600px;
      text-align: center;
      iframe {
        width: 90% !important;
        height: 600px !important;
      }
    }

    .substrate {
      width: 90%;
      height: 600px;
    }
  }

  .models-menu {
    display: none;
  }

  .main-page-slider {
    margin-bottom: 40px;
  }

  //popup

  .popup {
    left: calc((100vw - 622px - 17px)/2) !important;
    width: 622px !important;
  }

  .js-popup-block {
    .popup {
      padding: 30px;
    }
  }

  .popup-block-alert {
    .alert-popup {
      p {
        width: 90%;
      }

      .alert-form {
        width: 70%;
      }

      .alert-form__image-wrap {
        right: 0;
        max-width: 50%;
      }
    }
  }

  .page-contacts {
    .contacts-form {
      margin-bottom: 0;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .models-menu {
    margin-bottom: 30px;
  }

  .main-carousel {
    margin-top: 30px;
  }

  .main-carousel .carousel-inner {
    margin-bottom: 40px;
  }

  .main-page-slider {
    .slide {
      height: 240px;
    }

    .slider-text {
      h2 {
        font-size: 32px;
      }
    }

    .owl-dots {
      bottom: 2px;

      .owl-dot {
        height: 4px;
        width: 50px;
      }
    }
  }

  .information-advantages {
    .information-block {
      padding: 0 10px 0 30px;
    }

    .advantages-block {
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 20%;
      .advantage {
        width: 100%;
      }
    }
  }

  .contacts-form {
    .phones {
      margin-bottom: 60px;
    }
  }

  .contacts-form {
    .map-block {
      height: 500px;

      iframe {
        height: 500px !important;
      }
    }

    .substrate {
      height: 500px;
    }
  }

  .car-types-block {
    .car-types-items {
      .car-types-item {
        width: 50%;
      }
    }
  }

  //popup

  .popup {
    height: auto !important;
    width: 480px !important;
    left: calc((100vw - 500px - 17px)/2) !important;
    padding-bottom: 0 !important;
  }

  .popup-block-offer {
    .offer-popup {
      padding-bottom: 30px !important;

      p,
      .offer-form,
      .timer {
        width: 100%;
      }
    }
  }

  .js-popup-block {
    .popup {
      h2 {
        font-size: 25px;
      }
    }
  }

  .popup-block-alert {
    .alert-popup {
      h2,
      p,
      .alert-form {
        width: 100%;
      }

      .alert-form__image-wrap {
        display: none;
      }
    }
  }
}

@media (max-width: 601px) {
  .fixed-icons {
    a {
      padding: 5px 0;
    }

    .fixed-icons__icon {
      margin: 0;
    }
  }
  .top-menu .inner {
    justify-content: center;
  }

  .top-menu__logotypes-wrap {
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
  }

  .main-page-slider {
    .slide {
      height: 195px;
    }

    .slider-text {
      p {
        padding-bottom: 25px;
      }
    }

    .owl-dots {
      bottom: 2px;
      .owl-dot {
        width: 40px;
      }
    }
  }
  .models-menu {
    display: none;
  }

  .main-about .dot-title {
    font-size: 28px;
  }

  .contacts-form {
    .map-block {
      height: 350px;

      iframe {
        height: 350px !important;
      }
    }

    .substrate {
      height: 350px;
    }
  }

  .contacts-block {
    width: 100%;
  }

  footer {
    .first-row {
      flex-direction: column;

      ul {
        height: auto;
        margin-bottom: 20px;
        text-align: center;
      }

      .contacts {
        margin: 0 auto;
      }
    }
    .second-bg {
      background-size: cover;
    }

    .second-row {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 10px;

      .social-icons {
        margin-bottom: 10px;
      }
    }
  }

  .content-page {
    .title {
      font-size: 24px;
      line-height: 34px;
    }

    .inner {
      margin-bottom: 20px;
    }
  }

  //popup

  .popup {
    width: 370px !important;
    left: calc((100vw - 400px - 17px)/2) !important;
  }

  .js-popup-block {
    .popup {
      padding: 30px;

      h2 {
        font-size: 20px;
      }
    }
  }

  .popup-block-offer {
    .offer-popup {
      .main-form {
        margin-bottom: 10px;
      }

      .timer__number {
        width: 56px;
        height: 50px;
      }
    }
  }

  .popup-block-alert {
    .alert-popup {
      p {
        text-align: center;
      }
    }
  }
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
  .top-menu__logotypes-wrap {
    margin-bottom: 20px;
  }

  .top-menu__lada-wrap {
    order: 2;
  }

  .top-menu__avtovek-wrap {
    order: 1;
    margin-left: 0;
    margin-right: 20px;
  }

  .top-menu__link-wrap {
    display: none;
  }

  .top-menu__avtovek-text {
    display: none;
  }

  .top-menu__phone {
    margin-right: 20px;
    font-size: 19px;
  }

  .top-menu-contacts-wrap {
    margin-top: 20px;
  }

  .top-menu {
    .inner {
      .show-call-popup {
        //position: absolute;
        display: block;
        width: 60%;
        order: 1;
        margin-top: 15px;
        padding: 12px;
        text-align: center;
        border: 2px solid $brand-color-orange;
        border-radius: 5px;
        font-size: 12px;
        font-weight: $bold;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
  .fixed-icons {
    display: none;
  }

  .main-menu .inner {
    flex-direction: column;
  }
  header .inner {
    align-items: flex-end;
  }
  .cmn-toggle-switch {
    display: block;
  }

  .main-menu .inner>ul.nav-menu {
    display: none;
  }

  .show-menu {
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: transform 1s;
  }

  .main-page-slider {
    .slide {
      height: 120px;
    }

    .slider-text {
      h2 {
        font-size: 22px;
      }

      p {
        font-size: 14px;
      }
    }

    .owl-dots {
      bottom: -8px;
      .owl-dot {
        width: 30px;
      }
    }
  }

  .main-carousel {
    .inner {
      .btn {
        margin-bottom: 35px;
      }
    }
  }
  .main-about {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .contacts-form {
    .map-block {
      height: 230px;
    }
  }

  .information-advantages {
    .advantages-block {
      padding-left: 5%;
    }
  }
  .main-form {
    width: 100%;
    flex-direction: column;

    label,
    .half {
      width: 100%;
    }
  }

  footer {
    .first-row {
      .contacts {
        display: none;
      }
    }
  }

  .car-types-block {
    .car-types-items {
      padding-top: 40px;
      .car-types-item {
        width: 100%;
      }
    }
  }

  //popup

  .js-popup-block {
    transition: none;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  * {
    transition: none !important;
  }
  .main-about .dot-title {
    font-size: 20px;
  }

  .information-advantages {
    .advantages-block {
      padding-left: 1%;
    }
  }
}

@import "media-catalog";
@import "media-page-auto";
@import "media-list-of-type-auto";
@import "media-sales";
@import "media-credit";
@import "media-thanks-block";
@import "media-page-service";
@import "media-page-credic-calc";