/* Landscape tablets and medium desktops */
@media screen and (max-width: 1199px) {
  .page-car {
    .car-types-block {
      display: block;
    }
  }
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

@media (max-width: 601px) {

}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
  .page-car {
    .content-page {
      margin-bottom: 0;

      .title {
        font-size: 20px;
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {

}
