//fix circle in checkbox
.credit-form .hidden-radio:checked+.custom-radio::after {
  top: 0;
  margin-top: 3px;
}

@media screen and (max-width: 1199px) {
  .credit-form {
    .first {
      padding-right: 0;
    }
  }
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
  .sales-request .sale-form--top .sale-form {
    margin-top: 10px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .credit-form {
    flex-direction: column;
    align-items: center;

    .fieldset {
      width: 70%;
      margin-bottom: 20px;
    }
    .second {
      padding-left: 0;
    }

    .half {
      width: 100%;
    }
  }
}

@media (max-width: 601px) {
  .credit-form {
    .fieldset {
      width: 90%;
    }
  }

  .sales-request .sale-form {
    input {
      width: 80%;
    }
  }
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
  .credit-form {
    .fieldset {
      width: 100%;
    }
  }

  .sales-request .sale-form {
    input {
      width: 100%;
    }
  }

  .sales-request {
    .sale-form--top {
      margin-bottom: 40px;
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {

}
