//
// Colors for develop
// --------------------------------------------------

$aqua-dev: #7fdbff;
$blue-dev: #0074d9;
$navy-dev: #001f3f;
$teal-dev: #39cccc;
$green-dev: #2ecc40;
$olive-dev: #3d9970;
$lime-dev: #01ff70;

$yellow-dev: #ffdc00;
$orange-dev: #ff851b;
$red-dev: #ff4136;
$fuchsia-dev: #f012be;
$purple-dev: #b10dc9;
$maroon-dev: #85144b;

$white-dev: #ffffff;
$silver-dev: #dddddd;
$gray-dev: #aaaaaa;
$black-dev: #111111;



//
// Variables
// --------------------------------------------------


//== Paths

// Images
$path-img: '../img/';


//== Fonts

// Family
$font-family-base: 'Leto Sans', Arial, sans-serif;
$font-family-roboto: 'Roboto', Arial, sans-serif;

// Size
$font-size-base: 13px;

// Line-height
$line-height-base: 1.2;

// Weight
$thin: 100;
$regular: 400;
$medium: 500;
$bold: 700;

//== Site sizes 1184px
$site-width: 1200px;
$site-gutter: 15px;
$footer-height: 562px;


//== Colors

$white: #fff;
$black: #000;
$brand-color-orange: #ee6a06;
$background-gray: #EFF3F5;
$background-catalog: #F6F9FB;
$text-color-gray: #42525a;
$background-sub-menu: #EFF3F5;
$text-color-black: #231f20;
$border-color: #D8E0E0;
$footer-bg-color-1: #304856;
$footer-bg-color-2: #304655;
$blue-color: #2b4fb2;
$avtovek-color: #053471;