@mixin title() {
  font-family: $font-family-base;
  font-size: 21px;
  line-height: $line-height-base;
  font-weight: $thin;
  color: $text-color-black;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin screen-md() {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin tablet-lg() {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin tablet-md() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet-sm() {
  @media (max-width: 601px) {
    @content;
  }
}

@mixin phone-lg() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin phone-md() {
  @media (max-width: 320px) {
    @content;
  }
}