.buttons-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.buttons-list--full {
  width: 100%;
  height: 100%;

  .buttons-list__button--play {
    width: 100%;

    a {
      width: 100%;
      height: 100%;
    }
  }
}

.buttons-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: block;
    text-decoration: none;
    width: 80px;
    height: 80px;
    opacity: .6;
    outline: none;
    pointer-events: none;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.buttons-list__button--play {
  a {
    background: url('#{$path-img}play-button.png') no-repeat center;
    background-size: 80px 80px;
    pointer-events: auto;
  }
}