.pick-up-block {
  padding-top: 40px;
  font-family: $font-family-base;
  font-size: 15px;
  color: #08387f;
  font-weight: $thin;

  .inner {
    max-width: 1200px;
    flex-wrap: wrap;
  }
}

.pick-up-block__title {
  width: 100%;
  margin-bottom: 40px;
  @include title;
}

.form-tabs {
  width: 100%;
}
.form-tabs__header ul{
  display: flex;
  justify-content: center;
}

.form-tabs__header-item {
  flex-grow: 1;
  text-align: center;

  a {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    padding: 10px 20px 30px;
    font-family: $font-family-base;
    font-size: 15px;
    line-height: $line-height-base;
    color: $text-color-gray;
    text-transform: uppercase;

    border-bottom: 3px solid $text-color-gray;

    &:hover {
      color: $brand-color-orange;
    }
  }
}

.form-tabs__header-item--active {
  a {
    position: relative;
    z-index: 1;
    color: $brand-color-orange;
    border-bottom: 3px solid $brand-color-orange;
  }
}

.form-tabs__body-item {
  display: none;

  &--active {
    display: block;
  }
}

.form-pickup {
  position: relative;
  margin-bottom: 60px;
  padding: 65px 165px 50px;
  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 0 8px 5px #f5f5f5;
}

.form-pickup__item {
  display: flex;
  width: 48%;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;

  label {
    display: flex;
    align-items: center;
    width: 46%;
  }
}

.form-pickup__row {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &--line-b {
    padding-bottom: 50px;
    border-bottom: 1px solid #f5f5f5;
  }
}

.form-pickup__header {
  width: 100%;
  margin-bottom: 14px;
  @include title;
  font-size: 16px;
  color: $text-color-gray;
  font-weight: $bold;
}

.form-pickup__input {
  width: 100%;
  margin-left: 10px;
  padding: 15px 10px;
  border: 1px solid #7f9096;
  font-family: $font-family-base;
  font-size: 15px;
  font-weight: $regular;
  color: #42525a;
  text-align: center;
  line-height: 1.2;

  &:focus,
  &:active {
    border-color: #05367e;
    outline: none;
    color: #05367e;
  }
}

.form-pickup__button {
  position: relative;
  z-index: 8;
  padding: 20px 70px;
  font-family: $font-family-base;
  font-weight: $bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $brand-color-orange;
  background: none;
  box-shadow: none;
  border: 2px solid $brand-color-orange;
  line-height: 15px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.3s;
  &:hover {
    color: $white;
    background: $brand-color-orange;
    transition: all 0.3s;
  }
  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: .2;

    &:hover,
    &:focus,
    &:active {
      color: $brand-color-orange;
      background-color: #fff;
      cursor: default;
    }
  }

  &--theme-blue {
    padding-left: 50px;
    padding-right: 50px;
    color: #ffffff;
    background-color: #204c8c;
    border: none;
    font-weight: $regular;

    &:disabled {
      opacity: .2;

      &:hover {
        cursor: default;
        color: $white;
        background: #204c8c;
      }
      &:focus {
        cursor: default;
        outline: none;
      }
    }
  }
}

.searching-result-block__wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 7px 6px darken(#f5f5f5, 5%);
}
.searching-result-block__item {
  display: flex;
  width: 100%;
  padding-right: 60px;
  justify-content: space-between;
  font-size: 16px;



  &:not(:last-of-type) {
    border-bottom: 1px solid $text-color-gray;
    margin-bottom: 25px;
  }

  &:not(:first-of-type) {
    border-top: 1px solid $text-color-gray;
  }

  figure {
    position: relative;
    min-width: 310px;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}

.searching-result-block__images {
  height: 100%;
  width: 100%;
}

.searching-result-block__image {
  width: 100%;
  height: 100%;
}

.searching-result-block__indicators {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
}
.searching-result-block__indicator {
  width: 40px;
  height: 2px;
  background-color: #ffffff;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &--active {
    background-color: $brand-color-orange;
  }
}

.desc-block {
  display: flex;
  margin-left: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
  background-color: #ffffff;
  font-size: 1em;

  .btn {
    margin-top: 30px;
    cursor: pointer;
  }

  .dark-btn {
    color: #05367e;

    &:hover {
      color: $brand-color-orange;
    }
  }
}

.desc-block__title {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  font-family: $font-family-base;
  font-size: 1.375em;
  color: #42525a;
  font-weight: $bold;

  &--credit {
    min-width: 230px;
    margin-left: auto;

    font-size: .73em;
    font-weight: $regular;
    color: #164487;

    &::before{
      content: '!';
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      width: 22px;
      height: 22px;
      background-color: #164487;
      border-radius: 50%;
      color: #ffffff;
      text-align: center;
      line-height: 23px;
      font-size: 1em;
      font-weight: $regular;
    }
  }
}

.desc-block__item {
  width: 100%;
  margin-bottom: 10px;
  font-family: $font-family-base;
  font-size: 1.1875em;
  color: #231f20;
  font-weight: $regular;
}

.cost-block {
  display: flex;
  padding-top: 25px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 26%;
  background-color: #ffffff;
  font-size: 1em;

  .form-pickup__button {
    z-index: 8;
    width: 90%;
    min-width: 120px;
    padding: 20px 5px;
    text-align: center;
  }
}

.cost-block__cost {
  margin-bottom: 20px;
  font-family: $font-family-base;
  font-size: 1.75em;
  font-weight: $bold;
  color: #231f20;
  text-align: center;
}

.cost-block__feature {
  display: flex;
  justify-content: center;
  width: 85%;
  margin-bottom: 20px;
  font-size: 1em;
}

.cost-block__feature-item {
  position: relative;
  font-family: $font-family-base;
  font-size: 1.375em;
  color: #4a4a4a;
  font-weight: $regular;

  &:not(:last-child) {
    &::after {
      content: '|';
      padding-left: 7px;
      padding-right: 10px;
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 80px;
  margin-bottom: 60px;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  font: $bold 15px/1 $font-family-base;
  color: #000;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: all 0.3s;
}

.page-numbers:not(.dots) {
  &:hover,
  &:focus,
  &.current {
    outline: none;
    border-color: #000;
  }
}

.page-numbers.next {
  font-size: 0;
  background: url(#{$path-img}down-arrow.svg) no-repeat center;
  background-size: 13px;
  transform: rotate(-90deg);
}

.page-numbers.prev {
  font-size: 0;
  background: url(#{$path-img}down-arrow.svg) no-repeat center;
  background-size: 13px;
  transform: rotate(90deg);
}

ul.page-numbers {
  width: auto;

  border: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

//nice-select settings
.form-pickup {
  .nice-select {
    width: 100%;
    height: 52px;
    border-radius: 0;
    font-family: $font-family-base;
    font-size: 15px;
    color: $text-color-gray;
    font-weight: $thin;
    border-color: $text-color-gray;
    line-height: 52px;
    &.disabled {
      opacity: .5;
    }

    &::after {
      border-color: $text-color-gray;
    }
    .list {
      width: 100%;
      border-radius: 0;
      box-shadow: 0 0 0 1px lighten($text-color-gray, 50%);
    }

    .option {
      font-family: $font-family-base;
      font-size: 15px;
      color: $text-color-gray;
      font-weight: $thin;

      &.selected {
        font-weight: $bold;
      }
    }

    li[data-value="none"] {
      display: none;
    }
  }
}

//jquery ui settings

.range {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.ui-slider-horizontal {
  height: 5px;
}

.ui-widget-content {
  background: #cad6da;
}

.ui-widget.ui-widget-content {
  border: none;
  border-radius: 0;
}

.ui-widget-header {
  background: #05367e;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-slider-handle {
  border-radius: 50%;

  &:focus {
    outline: none;
  }
}

.range {
  .ui-state-default {
    background: #05367e;
    border: none;
  }
}

.ui-slider {
  .ui-slider-handle {
    width: 25px;
    height: 25px;
  }
}

.ui-slider-horizontal {
  .ui-slider-handle {
    top: -10px;
    left: -10px;

    margin-left: 0;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background-color: #ffffff;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-5px, -100%);
      z-index: 20;
      font-family: $font-family-base;
      font-size: 15px;
      font-weight: $thin;
      color: $text-color-gray;
      opacity: .6;
    }

    &.ui-state-active {
      span {
        color: #08387f;
        font-weight: $bold;
        opacity: 1;
      }
    }
  }
}

//end settings

.searching-result-block {
  //padding-top: 60px;

  .inner {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.searching-result-block__item {
  position: relative;
}

.searching-result-block__title {
  width: 50%;
  margin-bottom: 60px;
  @include title;
}

.searching-result-block__link {
  z-index: 10;
  content: '';
  display: block;
  margin-left: 310px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:hover ~ .desc-block .dark-btn {
    color: $brand-color-orange;

    &::after {
      background: url(#{$path-img}arrow-btn-orange.png) no-repeat center;
      transform: translateX(10px);
    }
  }
}

.sorting-block__item {
  &:not(:last-child) {
    margin-right: 30px;
  }

  button {
    padding: 5px;
    font-family: $font-family-base;
    font-weight: $bold;
    font-size: 17px;
    color: #5d5b5b;
    background: none;
    box-shadow: none;
    border: none;
    line-height: 17px;
    cursor: pointer;
    border-radius: 0;
    transition: all 0.3s;
    opacity: .5;
    vertical-align: middle;
  }

  &--active {
    button {
      opacity: 1;
      color: #000000;
    }
  }

  &--arrow-up {
    padding-right: 18px;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      top: 50%;
      right: 1px;
      content: '';
      font-size: 0;
      width: 15px;
      height: 15px;
      background: url(#{$path-img}down-arrow.svg) no-repeat center;
      transform: rotate(180deg) translateY(50%);
    }
  }

  &--arrow-down {
    padding-right: 18px;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      top: 50%;
      right: 1px;
      content: '';
      font-size: 0;
      width: 15px;
      height: 15px;
      background: url(#{$path-img}down-arrow.svg) no-repeat center;
      transform: translateY(-50%);
    }
  }
}

.sorting-block__text {
  margin-right: 30px;
  font-family: $font-family-base;
  font-weight: $bold;
  font-size: 17px;
  line-height: $line-height-base;
}

.sorting-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  position: relative;
  margin-bottom: 60px;

  .inner {
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.content-title {
  width: 100%;
  position: relative;
  font-size: 21px;
  font-weight: $thin;
  padding-bottom: 30px;
  color: #231f20;
  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -25px;
    width: 10px;
    height: 10px;
    border: 2px solid $text-color-black;
    border-radius: 50%;
    background: #EBEBEB;
  }
}

.content__text {
  width: 100%;
  margin-bottom: 10px;
  font-family: $font-family-base;
  font-size: 14px;
  line-height: 1.6;
  color: #1f191a;
}

.pickup-svg {
  position: absolute;
  width: 700px;
  height: 630px;
  top: 13px;
  left: 65px;
  z-index: -1;
  animation: dash 20s linear infinite forwards reverse;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.popup-block-book {
  .popup {
    height: auto;
  }
}

.form-sell {
  margin-bottom: 180px;
  padding-left: 80px;
  padding-right: 50px;
}

#tab2 {
  .pickup-svg {
    height: 1100px;
    transform: translate(-50%, -20%);
    top: -68px;
    left: 48px;
  }
}

.field-block {
  flex-grow: 4;
  flex-basis: 28%;

  &:not(:last-child) {
    margin-right: 2%;
  }

  input {
    width: 100%;
    padding: 18px;
    font-family: $font-family-base;
    font-weight: $thin;
    color: $text-color-gray;
    font-size: 15px;
    border: 1px solid $text-color-gray;
    outline: none;
    line-height: 1.2;

    @include placeholder {
      font-family: $font-family-base;
      font-weight: $thin;
      color: $text-color-gray;
      font-size: 15px;
      opacity: .75;
    }

    &:active,
    &:focus {
      border-color: #204c8c;
    }
  }

  &--half {
    flex-grow: 1;
    flex-basis: 14%;
  }
}

.field-block__title {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-family: $font-family-base;
  font-weight: $regular;
  color: $text-color-gray;
  font-size: 16px;
  text-align: left;
}

.field-text {
  font-family: $font-family-base;
  font-size: 14px;
  color: #484b4c;
  line-height: $line-height-base;
  font-weight: $regular;

  a {
    color: #204c8c;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.form-pickup__row {
  .custom-checkbox {
    &::before {
      width: 18px;
      height: 18px;
      border: 1px solid $text-color-gray;
      border-radius: 0;
    }

    a {
      line-height: 1;
    }
  }
  .privacy-policy__checkbox:checked+.custom-checkbox::before {
    background: url('#{$path-img}icon-confirm-b.png') no-repeat center;
  }
  
  &--half {
    .field-text {
      width: 50%;
      text-align: left;
    }
  }

  .privacy-policy__checkbox {
    display: none;
  }
}

.form-pickup__item {
  &.disabled {
    opacity: .5;
    .range {
      pointer-events: none;
    }

    [disabled] {
      background: none;
    }
  }
}

.searching-result-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 130px;
}

@include screen-md {
  .form-pickup__row--half .field-text {
    width: 100%;
  }

  .pickup-svg {
    display: none;
  }

  .searching-result-block__item {
    font-size: 12px;
  }

  .searching-result-block__item {
    padding-right: 40px;
  }

  .cost-block__feature {
    justify-content: center;
  }

  .searching-result-block__item figure {
    margin-right: 20px;
  }

  .content-title {
    &::before {
      display: none;
    }
  }

  .form-sell {
    margin-bottom: 60px;
  }

  .desc-block {
    margin-left: 0;
  }

  .cost-block__feature {
    width: 100%;
  }
}

@include tablet-lg {
  .pick-up-block__title,
  .searching-result-block__title {
    text-align: center;
  }

  .form-pickup__row {
    flex-wrap: wrap;

    .field-block {
      width: 100%;
      margin-bottom: 10px;
      flex-basis: auto;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .form-pickup__item {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .form-pickup__header {
    text-align: center;
  }

  .form-sell {
    padding-left: 50px;
  }

  .searching-result-block__title {
    width: auto;
    margin-bottom: 30px;
  }

  .searching-result-block .inner {
    flex-direction: column;
  }

  .sorting-block {
    padding-right: 40px;
    margin-bottom: 20px;
    justify-content: flex-end;
  }

  .desc-block__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  .desc-block__title--credit {
    margin-top: 10px;
  }
  .desc-block__title--credit::before {
    margin-left: 0;
  }

  .cost-block__feature {
    flex-direction: column;
    align-items: center;
  }

  .cost-block__feature-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .cost-block__feature-item:not(:last-child)::after {
    position: absolute;
    padding: 0;
    top: 100%;
    left: 50%;
    transform: rotate(90deg) translate(-100%, 0);
  }

  .cost-block__cost {
    font-size: 1.4em;
  }

  .cost-block .form-pickup__button {
    font-size: .9em;
  }

  .pagination {
    justify-content: center;
  }

  .cost-block {
    width: 36%;
  }
}

@include tablet-md {
  .form-tabs__header ul {
    flex-wrap: wrap;
  }

  .form-pickup {
    padding-left: 125px;
    padding-right: 125px;
  }

  .form-sell {
    padding-left: 50px;
    padding-right: 50px;
  }

  .searching-result-block__item {
    flex-wrap: wrap;

    figure {
      margin-right: 3%;
      width: 49%;
    }
  }

  .desc-block {
    width: 48%;
  }

  .desc-block__title {
    justify-content: center;
  }

  .desc-block__title--credit {
    margin-left: 0;
  }

  .cost-block {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .form-pickup__button {
      width: 40%;
      font-size: 1em;
    }
  }

  .searching-result-block__link {
    height: 60%;
    margin-left: 46%;
  }

  .cost-block__feature {
    width: 50%;
    flex-direction: row;
  }

  .cost-block__cost {
    width: 50%;
  }

  .cost-block__feature-item {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 0;

      &::after {
        position: static;
        transform: none;
        content: '|';
        padding-left: 7px;
        padding-right: 10px;
      }
    }
  }

  .searching-result-block__item {
    padding-right: 20px;
  }

  .searching-result-navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .searching-result-block__item {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    figure {
      width: 80%;
      margin-right: 0;

      img {
        width: 100%;
      }
    }
  }

  .desc-block {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .desc-block__title {
    align-items: center;
  }
  .searching-result-block__link {
    margin-left: 0;
    top: 50%;
    left: 10px;
    right: 10px;
    height: 50%;
  }

  .content .inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cost-block .form-pickup__button {
    font-size: 1.1em;
  }
}

@include tablet-sm {
  .form-pickup {
    padding-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .form-pickup__item {
    flex-wrap: wrap;
    justify-content: center;

    label {
      display: flex;
      width: 100%;
      text-align: left;
      justify-content: space-between;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    .range {
      width: 60%;
    }
  }

  .form-pickup__input {
    width: 90%;
    margin-left: 0;
  }

  .form-sell {
    padding-left: 30px;
    padding-right: 30px;
  }

  .sorting-block {
    padding-right: 20px;
  }

  .sorting-block__text,
  .sorting-block__item button{
    font-size: 14px;
  }

  .sorting-block__text,
  .sorting-block__item:not(:last-child) {
    margin-right: 5px;
  }
}

@include phone-lg {
  .form-pickup {
    padding-left: 25px;
    padding-right: 25px;

    .range {
      width: 50%;
    }
  }

  .field-text {
    font-size: 11px;

    a {
      font-size: 11px;
    }
  }

  .form-sell,
  .form-pickup {
    .form-pickup__button {
      width: 70%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .form-pickup__row--line-b {
    padding-bottom: 20px;
  }

  .sorting-block {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 0;
  }

  .sorting-block__text {
    margin-bottom: 5px;
  }

  .searching-result-block__item {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;

    figure {
      width: 100%;
    }
  }

  .cost-block {
    flex-direction: column;

    .form-pickup__button {
      width: 100%;
      font-size: 1.2em;
    }
  }

  .cost-block__feature {
    flex-direction: column;
  }

  .cost-block__feature-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .cost-block__feature-item:not(:last-child)::after {
    position: absolute;
    padding: 0;
    top: 100%;
    left: 50%;
    transform: rotate(90deg) translate(-100%, 0);
  }

  .searching-result-block__link {
    left: 5px;
    right: 5px;
    top: 45%;
  }

  .pick-up-block .inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .content {
    margin-bottom: 20px;

    .inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .content__text {
    text-align: justify;
  }

  .searching-result-navigation {
    min-height: 80px;
    a {
      font-size: 10px;
    }
  }

  .searching-result-block__item figure {
    min-width: auto;
  }
}