.breadcrumbs {
  margin-top: 45px;
  ul {
    display: flex;
    justify-content: flex-start;
    li {
      padding-right: 25px;
      position: relative;
      a {
        color: $text-color-gray;
        font-size: 14px;
      }
      &:last-child {
        a {
          color: #abaeaf;
        }
        &:after {
          display: none;
        }
        &:hover {
          a {
            color: #abaeaf;
          }
        }
      }
      &:after {
        content: ">";
        position: absolute;
        top: 50%;
        right: 9px;
        transform: translateY(-50%);
        font-size: 14px;
        font-family: $font-family-base;

      }
      &:hover {
        a {
          color: lighten($text-color-gray, 20%);
        }
      }
    }
  }
}

.cars-catalog {
  background: $background-catalog;
  padding-bottom: 100px;
  margin-bottom: 65px;
  .inner {
    flex-direction: column;
    justify-content: flex-start;
  }
  h1 {
    position: relative;
    font-size: 35px;
    font-weight: $thin;
    padding-bottom: 30px;
    margin: 20px 0;
    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #E2E2E2;
    }
  }
}
.cars-catalog-items {

}

.car-catalog-item {
  width: 100%;
  background: $white;
  padding: 0 40px;
  box-shadow: 0 5px 15px 0 rgba(77, 76, 97, 0.13);
  margin-bottom: 20px;
  .fake-input {
    display: none;
  }
  //.fake-input:checked ~ .content {
  //  display: none;
  //
  //}
  .fake-input:checked ~ label {
    h2 {
      border-bottom: 1px solid #E8ECF0;
    }
    &::after {
      transform: rotate(0);
      transition: transform 0.5s;
    }
  }

  .content-header {
    a:hover {
      color: $brand-color-orange;
      text-decoration: underline;
    }
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;
    &::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      background: url("#{$path-img}arrow-catalog.png") no-repeat center;
      right: 0;
      transform: rotate(-180deg);
      transition: transform 0.5s;
    }
  }
  h2 {
    font-size: 14px;
    color: $text-color-black;
    font-weight: $bold;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 1px solid transparent;
  }
  h3 {
    font-size: 25px;
    color: $text-color-black;
    font-weight: $thin;
    &:first-child {
      padding-top: 50px;
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #E8ECF0;
    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }

  .wrapper-for-js {
    display: none;
  }

  .content-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 180px;
    margin-right: 40px;
    margin-bottom: 25px;
    .link-title {
      margin-top: 20px;
      color: $text-color-black;
      font-weight: bold;
      text-transform: uppercase;
    }
    .img-wrapper {
      min-height: 100px;
      max-height: 110px;
    }
    &:nth-child(5n) {
      margin-right: 0;
    }
    &:hover {
      .link-title {
        color: $brand-color-orange;
        text-decoration: underline;
      }
    }
  }

  @keyframes slideDown {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
}
.cars-line-svg {
  position: absolute;
  top: 12px;
  left: 0;
  margin-left: 58px;
  animation: dash 20s linear infinite forwards;
  z-index: 1;
}
.cars-about {
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 500px;
  .information-advantages:before {
    left: 576px;
  }
  .about-image {
    z-index: 2;
  }
  .dot-title::before {
    z-index: 2;
  }
}
.no-border .car-types-items {
  padding: 0;
  border: none;
  z-index: 2;
}
.car-types-margin {
  margin-top: -500px;
  padding-bottom: 55px;
}
