.color-tabs-block {
  .inner {
    flex-direction: column;
  }
  input[name="color-tab-fake-input"] {
    display: none;
  }
  input[name="color-tab-fake-input"]:checked + div {
    //visibility: visible;
   // opacity: 1;
    animation-name: lightSpeedIn;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 1;
  }

  .color-tabs-wrapper {
    margin-top: 20px;
    position: relative;
    height: 500px;
    padding-left: 80px;

  }
  .car-image {
    animation-name: lightSpeedOut;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: absolute;
    top: 50%;
    margin-top: -230px;
    left: 50%;
    margin-left: -360px;
    width: 720px;
    height: 435px;
    overflow: hidden;
  }
  h1 {
    position: relative;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    color: $text-color-black;
    opacity: 0.1;
    font-size: 100px;
    font-weight: $bold;
    z-index: -1;
    line-height: 1;
    user-select: none;
  }
  .price {
    font-size: 17px;
    font-weight: $regular;
    margin-left: 5px;
    span {
      font-size: 35px;
    }
  }
  .right-buttons {
    position: absolute;
    right: 0;
    top: 150px;
    li {
      display: block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        margin-top: -15px;
        left: 10px;
      }
    }
    .wheel::before {
      background: url("#{$path-img}icon-color-tabs-wheel.png") no-repeat center;
    }
    .credit::before {
      background: url("#{$path-img}icon-color-tabs-credit.png") no-repeat center;
    }
    .download::before {
      background: url("#{$path-img}icon-color-tabs-download.png") no-repeat center;
    }
    .color-tabs-button {
      display: block;
      width: 150px;
      margin-bottom: 20px;
      padding: 15px 10px 15px 50px;
      font-family: inherit;
      font-weight: $regular;
      font-size: 12px;
      text-transform: uppercase;
      color: $text-color-gray;
      line-height: 16px;
      background: none;
      box-shadow: none;
      border: 1px solid $border-color;
      text-align: left;
      cursor: pointer;
      &:visited {
        outline: none;
        color: $text-color-gray;
      }
      &:hover,
      &:active,
      &:focus {
        outline: none;
        border: 1px solid $brand-color-orange;
      }
    }
  }
  .color-pagination {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
    font-size: 0;
    label {
      display: inline-block;
      margin-right: 10px;
      padding-top: 10px;
      height: 30px;
      cursor: pointer;
      span {
        display: block;
        font-size: 0;
        width: 64px;
        height: 4px;
        box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.2s;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        span {
          margin-top: -3px;
          height: 10px;
          transition: all 0.2s;
        }
      }
    }
  }
}


.catalog-item-tabs {
  position: relative;
  input[name="catalog-item-tab-fake-input"],
  input[name="gallery-tab-fake-input"]{
    display: none;
  }
  .tab,
  .tab-inside-gallery{
    display: none;
  }
  input[id="description"]:checked ~ #description-tab,
  input[id="characteristics"]:checked ~ #characteristics-tab,
  input[id="gallery"]:checked ~ #gallery-tab,
  input[id="equipment"]:checked ~ #equipment-tab,
  input[id="exterior"]:checked ~ #exterior-tab,
  input[id="interior"]:checked ~ #interior-tab {
    display: block;
  }
  input[id="description"]:checked ~ .tab-controls label[for="description"],
  input[id="characteristics"]:checked ~ .tab-controls label[for="characteristics"],
  input[id="gallery"]:checked ~ .tab-controls label[for="gallery"],
  input[id="equipment"]:checked ~ .tab-controls label[for="equipment"],
  input[id="exterior"]:checked ~ .tab-controls label[for="exterior"],
  input[id="interior"]:checked ~ .tab-controls label[for="interior"]{
    color: $blue-color;
    border-bottom: 2px solid $blue-color;
  }
  .fixed-tabs {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px calc((100vw - 1170px - 17px)/2) 0;
    z-index: 10;
  }
  .tabs-menu-wrapper {
    width: 100%;
    height: 97px;
  }
  .tab-controls {
    .inner {
      align-items: center;
    }
    display: flex;
    margin-bottom: 40px;
    border-bottom: 1px solid $border-color;
    text-transform: uppercase;
    background: $white;
    label {
      font-family: $font-family-roboto;
      color: $text-color-gray;
      font-size: 13px;
      cursor: pointer;
      padding: 20px 0;
      flex-grow: 1;
      text-align: center;
      border-bottom: 2px solid transparent;
      margin-bottom: -1px;
      &:focus {
        outline: none;
        color: $blue-color;
        border-bottom: 2px solid $blue-color;
      }
      &:hover {
        color: $blue-color;
      }
    }
    a {
      position: relative;
      margin-left: 20px;
      padding: 15px 15px 15px 45px;
      font-family: $font-family-base;
      font-weight: $bold;
      font-size: 12px;
      color: $brand-color-orange;
      border: 2px solid $brand-color-orange;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -9px;
        left: 15px;
        background: url("#{$path-img}icon-download-sprite.png") no-repeat;
        width: 19px;
        height: 18px;
        background-position: 0 0;
      }
      &:hover,
      &:active,
      &:focus{
        color: $white;
        background: $brand-color-orange;
        outline: none;
        &::before {
          background-position: -19px 0;
        }
      }
    }
  }
  .tab {
    position: relative;
    width: 100%;
    font-family: $font-family-base;
    font-size: 14px;
    line-height: 26px;
    .inner {
      flex-direction: column;
    }
    .video-preview {
      position: relative;
      width: 100%;
      height: 320px;
      margin-bottom: 30px;
    }
    .play-video {
      position: absolute;
      top: 50%;
      margin-top: -50px;
      left: 50%;
      margin-left: -62px;
      width: 125px;
      height: 125px;
      background: url("#{$path-img}play-button.png") no-repeat center;
      box-shadow: none;
      border: none;
      font-size: 0;
      cursor: pointer;
    }
    .row {
      display: flex;
      justify-content: flex-start;
      margin: 50px 0;
    }
    .block-reverse {
      order: 2;
      &.mini-gallery {
        margin-right: 0;
        margin-left: 70px;
      }
      &.content-image {
        margin-right: 0;
        margin-left: 70px;
      }
    }
    .content-image {
      width: 500px;
      height: 400px;
      flex-shrink: 0;
      margin-right: 70px;
    }
    h2 {
      display: block;
      position: relative;
      color: $text-color-black;
      font-size: 30px;
      font-weight: $thin;
      line-height: 40px;
      margin-bottom: 30px;
      text-align: left;
      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 38px;
        height: 2px;
        background: #DDDDDD;
      }
    }
    .text {
      text-align: justify;
    }
    .first-letter:first-letter {
      float: left;
      font-size: 72px;
      margin: 20px 10px 10px -5px;
    }
    ul {
      padding-left: 30px
    }
    li {
      margin-bottom: 10px;
      line-height: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -25px;
        top: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #E7E0E1;
      }
    }
  }
  .mini-gallery {
    width: 500px;
    margin-right: 70px;
    flex-grow: 0;
    flex-shrink: 0;
    .main-image {
      margin-bottom: 20px;
      width: 100%;
      height: 300px;
    }
    .thumbnail {
      display: block;
      width: 115px;
      height: 100px;
      cursor: pointer;
    }
    .owl-nav {
      position: relative;
      width: 100%;
      height: 0;
    }
    .owl-prev,
    .owl-next {
      position: absolute;
      top: -100px;
      font-size: 0;
      background: url("#{$path-img}arrow-mini-gallery.png") no-repeat 0 center;
      width: 50px;
      height: 100px;
      &:hover {
        background: url("#{$path-img}arrow-mini-gallery.png") no-repeat -50px center;
      }
    }
    .owl-prev.disabled,
    .owl-next.disabled {
      display: none;
    }
    .owl-prev {
      left: -50px;
    }
    .owl-next {
      right: -50px;
      transform: rotate(180deg);
    }
  }
  table {
    width: 100%!important;
    margin: 10px 0 130px!important;
    font-size: 15px!important;
    font-family: $font-family-base!important;
    font-weight: $regular!important;
    border: none!important;
    td {
      padding: 15px 0!important;
      width: 12.5%!important;

    }
    td:first-child {
      width: 50%!important;
      padding-left: 25px!important;
    }
    tr:nth-child(2n) {
      background: #F7F7F7!important;
    }
    tr:first-child{
      color: #808080!important;
      font-size: 15px!important;
    }
  }
  .grid {
    position: relative;
    margin: 0 0 40px;
  }
  .preloader {
    position: absolute;
    display: flex;
    align-items: center;
    background: $white;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .show-more {
    display: block;
    position: relative;
    padding: 15px 37px;
    font-family: $font-family-base;
    font-weight: $bold;
    font-size: 12px;
    color: $brand-color-orange;
    border: 2px solid $brand-color-orange;
    background: none;
    margin: 0 auto 120px;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus{
      color: $white;
      background: $brand-color-orange;
      outline: none;
      &::before {
        background-position: -19px 0;
      }
    }
  }
  label[for="exterior"],
  label[for="interior"] {
    flex-grow: 0;
    padding-left: 70px;
    padding-right: 70px;
  }
  .equipment-tab {
    .inner {
      margin: 100px auto;
      padding: 0 115px;
    }
    .equipment-block {
      padding: 30px 30px 15px;
      border: 1px solid #EBEFEF;
      margin-bottom: 20px;
    }
    .equipment-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    h3 {
      position: relative;
      margin-bottom: 20px;
      color: $text-color-gray;
      font-size: 20px;
      font-weight: $regular;
      &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 38px;
        height: 2px;
        background: #DDDDDD;
      }
    }
    .name {
      display: flex;
      align-items: center;
      width: 30%;
      font-size: 15px;
      font-weight: $regular;
      color: $text-color-black;
    }
    .feature {
      display: flex;
      align-items: center;
      width: 17%;
      font-size: 15px;
      font-weight: $regular;
      color: $brand-color-orange;
    }
    .price {
      display: flex;
      align-items: center;
      width: 35%;
      flex-shrink: 0;
      justify-content: flex-end;
      font-size: 14px;
      font-weight: $regular;
      color: $text-color-black;
      padding-right: 100px;
      span {
        font-weight: $bold;
        font-size: 18px;
      }
    }
    .request-btn {
      display: block;
      width: 18%;
      flex-grow: 0;
      position: relative;
      padding: 15px 10px;
      font-family: $font-family-base;
      font-weight: $bold;
      font-size: 12px;
      color: #2b4fb2;
      border: 2px solid #D3DDF1;
      background: none;
      cursor: pointer;
      text-transform: uppercase;
      &:hover,
      &:active,
      &:focus{
        border-color: #2b4fb2;
        outline: none;
        &::before {
          background-position: -19px 0;
        }
      }
    }

  }
}








.steps-block {
  background: linear-gradient(to right, #F8F8F8 0%, #F8F8F8 50%, #304856 50%, #304856 100%);
  position: relative;
  height: 380px;
  margin-bottom: 70px;
  .bg1 {
    position: absolute;
    top: 0;
    left: 0;
    background: #F8F8F8 url("#{$path-img}catalog-bg-1.jpg") right;
    height: 100%;
    width: 50%;
  }
  .bg2 {
    position: absolute;
    top: 0;
    right: 0;
    background: #304856 url("#{$path-img}catalog-bg-2.jpg");
    height: 100%;
    width: 50%;
  }
  h2 {
    display: block;
    position: relative;
    color: $text-color-black;
    font-size: 30px;
    font-weight: $thin;
    margin-bottom: 60px;
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #DDDDDD;
    }
  }
  .buttons-row {
    display: flex;
    width: 100%;
    li {
      position: relative;
      margin-left: 50px;
      &:first-child {
        border-right: 1px solid #C6C6C6;
        padding-right: 60px;
        margin-left: 0;
      }
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        margin-top: -15px;
        left: 0;
      }
    }
    .wheel::before {
      background: url("#{$path-img}icon-color-tabs-wheel.png") no-repeat center;
    }
    .credit::before {
      background: url("#{$path-img}icon-color-tabs-credit.png") no-repeat center;
    }
    .download::before {
      background: url("#{$path-img}icon-color-tabs-download.png") no-repeat center;
    }
    .step-button {
      display: block;
      width: 150px;
      padding: 0 10px 0 50px;
      margin: 50px 0;
      font-family: inherit;
      font-weight: $bold;
      font-size: 13px;
      text-transform: uppercase;
      color: $text-color-black;
      line-height: 16px;
      background: none;
      box-shadow: none;
      border: none;
      text-align: left;
      cursor: pointer;
      &:visited {
        outline: none;
      }
      &:hover,
      &:active,
      &:focus {
        outline: none;
        color: $brand-color-orange;
      }
    }
  }
  .first-step {
    padding-right: 100px;
    padding-top: 55px;
  }
  .second-step {
    padding-left: 100px;
    padding-top: 55px;
    h2 {
      color: #f5f5f5;
      &::after {
        background: #596E7A;
      }
    }
    .buttons-row {
      li {
        &:first-child {
          border-right: 1px solid #596E7A;
        }
        .step-button {
          color: #f5f5f5;
          &:hover,
          &:active,
          &:focus {
            outline: none;
            color: $brand-color-orange;
          }
        }
      }
    }
  }
}


.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  position: relative;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $brand-color-orange;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}
.fancybox-slide>* {
  padding: 0;
}