.page-contacts {
  position: relative;
  padding-top: 30px;

  .dot-title {
    &::before {
      top: 19%;
    }
  }

  .title {
    &::before {
      display: none;
    }
  }

  .contact-line-svg {
    position: absolute;
    top: 28px;
    left: -163px;
    animation: dash 20s linear infinite forwards reverse;
  }
  .information-advantages {
    padding-top: 0;
    padding-bottom: 54px;

    .dot-title {
      margin-bottom: 30px;

      font-size: 35px;
    }

    &.inner {
      padding: 0 15px;
    }
    &::before {
      top: 7px;
      left: -44px;
    }
  }

  .map-block {
    position: relative;
    top: -10px;
  }

  .contacts-form {
    margin-bottom: 60px;

    .dot-title {
      font-size: 30px;

      &::after {
        display: none;
      }
    }
  }
}

.feedback-block {
  min-height: 10%;

  h1 {
    width: 100%;
    text-align: left;
  }
  h3 {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: $bold;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url("#{$path-img}user.svg") no-repeat center;
      background-size: contain;
      opacity: .3;
    }
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feedback-block__item {
  position: relative;
  display: inline-block;
  width: 46%;
  padding-top: 36px;
  margin-bottom: 60px;

  line-height: 1.8;
  text-align: left;
  p {
    margin-bottom: 20px;
  }

  &::before {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;
    width: 170px;
    height: 140px;
    background: url("#{$path-img}quotes.png") no-repeat center;
    opacity: .1;
  }
}
.feedback-block__btn {
  display: inline-block;
  padding: 15px 30px;
  font-family: $font-family-base;
  font-weight: $bold;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color-gray;
  background: none;
  box-shadow: none;
  border: 2px solid $text-color-gray;
  line-height: 15px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.3s;
  &:hover {
    color: $white;
    background: $text-color-gray;
    transition: all 0.3s;
  }
  &:focus {
    outline: none;
    border-color: $brand-color-orange;
  }
}

.inner-btn {
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  display: flex;
}

//media
@media (max-width: 601px) {
  .page-contacts {
    .feedback-block__item {
      width: 100%;
    }

    .inner-btn {
      margin-top: 20px;
    }
  }
}
