.content-page {
  .inner {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .row {
    display: flex;
    justify-content: flex-start;
    margin: 35px 0;
  }
  .block-reverse {
    order: 2;
    &.mini-gallery {
      margin-right: 0;
      margin-left: 70px;
    }
    &.content-image {
      margin-right: 0;
      margin-left: 40px;
    }
    &.text_2 {
      margin-left: 80px;
    }
  }
  .content-image {
    width: 500px;
    height: 400px;
    flex-shrink: 0;
    margin-right: 40px;
  }
  .title {
    display: block;
    position: relative;
    color: $text-color-black;
    font-size: 30px;
    font-weight: $thin;
    line-height: 40px;
    margin-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #DDDDDD;
    }
  }
  h1 {
    font-size: 35px;
    font-weight: $thin;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 30px;
    font-weight: $thin;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 25px;
    font-weight: $thin;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 14px;
    font-weight: $bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .text {
    min-width: 50%;
    text-align: justify;
  }
  .text_2 {
    width: 500px;
    text-align: justify;
    flex-shrink: 0;
    margin-right: 80px;
  }
  .content-image + .text {
    padding-left: 40px;
  }
  .content-image.block-reverse + .text {
    padding-left: 0;
    padding-right: 40px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .first-letter:first-letter {
    float: left;
    font-size: 72px;
    margin: 20px 10px 10px -5px;
  }
  ul {
    padding-left: 30px;
  li {
    margin-bottom: 10px;
    line-height: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -25px;
      top: 8px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #E7E0E1;
    }
  }
}
  a {
    color: $blue-color;
  }
}
.mini-gallery {
  width: 500px;
  margin-right: 70px;
  flex-grow: 0;
  flex-shrink: 0;
  .main-image {
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
  }
  .thumbnail {
    display: block;
    width: 115px;
    height: 100px;
    cursor: pointer;
  }
  .owl-nav {
    position: relative;
    width: 100%;
    height: 0;
  }
  .owl-prev,
  .owl-next {
    position: absolute;
    top: -100px;
    font-size: 0;
    background: url("#{$path-img}arrow-mini-gallery.png") no-repeat 0 center;
    width: 50px;
    height: 100px;
    &:hover {
      background: url("#{$path-img}arrow-mini-gallery.png") no-repeat -50px center;
    }
  }
  .owl-prev.disabled,
  .owl-next.disabled {
    display: none;
  }
  .owl-prev {
    left: -50px;
  }
  .owl-next {
    right: -50px;
    transform: rotate(180deg);
  }
}
ol{
  counter-reset: myCounter;
}
ol li{
  list-style: none;
  padding-left: 30px;
}
ol li:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  color: $text-color-gray;
  font-size: 11px;
  font-family: $font-family-base;
  font-weight: $bold;
  background: #EBEBEB;
  display: inline-block;
  text-align: center;
  margin: 5px 10px 5px -30px;
  line-height: 17px;
  width: 20px;
  height: 17px;
}
.buttons-block {
  margin-bottom: 50px;
  button {
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    font-family: $font-family-base;
    background: none;
    box-shadow: none;
    color: $text-color-gray;
    padding: 15px 10px 15px 50px;
    line-height: 16px;
    border: 1px solid #D8E0E0;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      left: 16px;
      top: 50%;
      margin-top: -11px;
      background: url("#{$path-img}icons-header.png") no-repeat center;
      width: 21px;
      height: 20px;
      background-position: -123px 0;
    }
    &:hover,
    &:focus{
      outline: none;
      border-color: $brand-color-orange;
    }
  }
}