.credit-title-margin {
  margin-top: 30px;
}
.credit-form-block {
  .inner {
    flex-direction: column;
  }
  .form-header {
    font-size: 30px;
    font-weight: $thin;
    margin-bottom: 30px;
  }
}
.credit-form {
  width: 100%;
  .fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    border: none;
    padding: 0;
    margin: 0 0 90px;
  }
  .first {
    padding-right: 115px;
  }
  .second {
    padding-left: 70px;
  }
  .credit-submit {
    width: 175px;
    &:disabled {
      border-color: lighten($brand-color-orange, 30%);
      color: lighten($brand-color-orange, 30%);
      cursor: default;
      &:hover {
        background: none;
        color: lighten($brand-color-orange, 30%);
      }
    }
  }
  .custom-checkbox {
    line-height: 20px;
  }

  .custom-radio {
    position: relative;
    margin-bottom: 15px;
    padding-left: 35px;
    line-height: 20px;
    cursor: pointer;
    color: $text-color-gray;
    font-size: 13px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #a0a8ac;
    }
  }
  .radio-header {
    margin: 15px 0 35px;
    font-size: 14px;
  }
  .hidden-radio {
    display: none;
    &:checked + .custom-radio::after {
      content: "";
      position: absolute;
      left: 3px;
      top: 50%;
      margin-top: -7px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $brand-color-orange;
    }
  }
}