.credit-block {
  padding-top: 40px;
  padding-bottom: 58px;
  font-family: $font-family-base;
  font-size: 15px;
  color: #000;
  font-weight: $thin;

  .inner {
    max-width: 1200px;
    flex-wrap: wrap;
  }
}

.credit__header {
  width: 100%;
  margin-bottom: 40px;
  @include title;
  font-size: 32px;
}

.our-partners {
  width: 100%;
}

.credit-conditionals {
  width: 100%;
}

.our-partners,
.credit-conditionals {
  font-family: $font-family-base;
  h2 {
    position: relative;
    margin-bottom: 55px;
    padding-left: 40px;
    font-size: 25px;
    color: #231f20;
    font-weight: $thin;
    line-height: $line-height-base;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      height: 10px;
      transform: translate(0, -50%);
      border: 2px solid $text-color-black;
      border-radius: 50%;
      background: #EBEBEB;
    }
  }
}

.credit-conditionals {
  ul {
    margin-top: 22px;
    margin-bottom: 22px;
    h3 {
      margin-bottom: 20px;

      font-family: $font-family-base;
      font-size: 16px;
      color: #204c8c;
      line-height: $line-height-base;
      font-weight: $bold;
    }

    li {
      position: relative;
      padding-left: 16px;
      font-family: $font-family-base;
      font-size: 16px;
      color: #231f20;

      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        left: 0;
        top: 50%;
        transform: translate(50%, -50%);
        background-color: #000000;
        border-radius: 50%;

      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  p {
    margin-bottom: 10px;

    font-family: $font-family-base;
    font-size: 17px;
    color: #231f20;
    line-height: $line-height-base;
  }
}

.our-partners {
  margin-bottom: 50px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
    li {
      width: 23%;
      padding-left: 0;

      &::before {
        display: none;
      }

      &:not(:last-child) {
        margin-bottom: 50px;
      }

      img {
        width: 90%;
      }
    }
  }
}

.credit-calculator {
  width: 100%;
  margin-bottom: 70px;

  form {
    display: flex;
    flex-wrap: wrap;
  }
}

.credit-calculator__select,
.credit-calculator__panel {
  width: 50%;
}

.credit-calculator__select {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $thin;
  color: #bdd4f7;
  background-color: #204c8c;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  border-radius: 1px;

  h1 {
    position: relative;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: $font-family-base;
    font-size: 16px;
    color: #ffffff;
    font-weight: $bold;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      display: block;
      width: 3px;
      height: 100%;
      background-color: #ffffff;
    }
  }

  &.calculator-select {
    .nice-select {
      box-shadow: none;
    }
  }

  li[data-value=selected] {
    display: none;
  }
}

.credit-calculator__select-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 30px;
  padding-right: 40px;
}

.credit-calculator__select-item {
  width: 100%;
  margin-bottom: 15px;

  .nice-select {
    width: 100%;

    .list {
      width: 100%;
    }
  }
}

.credit-calculator__select-title {
  margin-bottom: 15px;

  font-size: 15px;
  font-weight: $regular;
  text-transform: uppercase;
}

.credit-calculator__cost {
  display: flex;
  margin-top: 20px;
  margin-bottom: 35px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .cost {
    display: inline-block;
    margin-right: 23px;
    padding: 12px 35px;

    font-family: $font-family-base;
    font-size: 20px;
    color: #ffffff;
    font-weight: $bold;

    border: 1px dashed #fff;
    border-radius: 5px;

    &::after {
      content: ' р.';
      font-size: 18px;
    }
  }

  p {
    width: 40%;
    font-size: 14px;
  }
}

.credit-first-payment,
.credit-date {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  flex-wrap: wrap;
  h2 {
    width: 60%;
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: $regular;
    color: #c6ddff;
    text-transform: uppercase;
  }

  input[type=number] {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: $bold;
    color: #204c8c;

    &::after {
      content: '1';
      color: #000000;
    }
  }

  .range {
    .ui-state-default {
      background-color: #7eb2ff;
    }

    .ui-slider-handle {
      transform: translateX(-50%);
    }
  }

  .ui-widget-content {
    background-color: rgba(188, 196, 199, .6);
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}

.credit-first-payment__inner,
.credit-date__inner {
  display: flex;
  width: 100%;
  align-items: center;
}

.credit-payment__numbers,
.credit-date__numbers {
  position: absolute;
  bottom: 0;
  display: flex;

  justify-content: space-between;
  align-items: center;
  left: 0;
  right: -5px;
}

.credit-payment__numbers-number,
.credit-date__numbers-number {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $bold;
  opacity: .2;

  &.active {
    opacity: 1;
  }
}

.credit-calculator__payment {
  width: 100%;
  h2 {
    margin-bottom: 30px;

    font-family: $font-family-base;
    font-size: 14px;
    color: #c6ddff;
    font-weight: $regular;
    text-transform: uppercase;
  }

  .per-day,
  .per-month {
    font-family: $font-family-base;
    font-size: 29px;
    font-weight: $bold;
    color: #ffffff;
  }

  .per-day {
    margin-right: 22px;

    &:after {
      content: ' р/день.';
      font-size: 18px;
    }
  }

  .per-month {
    &::after {
      content: ' р/мес.';
      font-size: 18px;
    }
  }
}

.credit-calculator__request {
  position: relative;
  width: 100%;
  padding: 50px 30px;

  border-radius: 1px;
  background-color: #ffffff;

  &::after {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    transform: translate(-50%, 0);
    border: 30px solid transparent;
    border-top: 18px solid #204c8c;
  }
}

.credit-calculator__request-title {
  margin-bottom: 40px;
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: $bold;
  color: #204c8c;
  text-transform: uppercase;
}

.credit-calculator__request-field {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  font-family: $font-family-base;
  font-size: 15px;
  font-weight: $regular;
  color: #204c8c;

  span {
    display: block;
    width: 100%;
    margin-bottom: 12px;
  }

  input {
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
    font-family: $font-family-base;
    font-size: 15px;
    font-weight: $bold;
    color: #204c8c;
    border: 1px solid #204c8c;
    outline: none;

    &:invalid {
      opacity: .5;
    }
    &:valid {
      opacity: 1;
    }

    &:active,
    &:focus {
      border-color: $brand-color-orange;
    }
  }
}

.credit-calculator__request-agree {
  display: block;
  position: relative;

  margin-bottom: 40px;
  padding-left: 30px;
  font-family: $font-family-base;
  font-size: 14px;
  color: #484b4c;
  line-height: 1.4;
  cursor: pointer;

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      content: '123';

      &::after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    color: #000;
    background-color: $white;
    border: 1px solid #204c8c;
    transform: translateY(-16px);

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      width: 8px;
      height: 12px;
      border: solid #204c8c;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) translate(45%, -20%);
    }
  }
}

.privacy-policy {
  display: inline-block;
  font-family: $font-family-base;
  font-size: 14px;
  color: #204c8c;

  border-bottom: 1px solid #204c8c;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 1px solid transparent;
  }
}

.credit-calculator__button {
  display: inline-block;
  font-family: $font-family-base;
  font-size: 12px;
  padding: 20px 50px;
  font-weight: $medium;
  text-transform: uppercase;
  color: #fff;
  background-color: #204c8c;
  border: 1px solid #204c8c;
  line-height: 15px;
  cursor: pointer;
  border-radius: 2px;
  transition: all .3s;

  &:active,
  &:hover {
    border-color: transparent;
    background: $brand-color-orange;
  }

  &:disabled {
    opacity: .5;

    &:hover,
    &:active {
      background-color: #204c8c;
    }
  }
}

.credit-calculator__panel {
  padding-left: 32px;
}

.credit-calculator__panel-show {
  .img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 390px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .cost {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    background-color: #204c8c;
    font-family: $font-family-base;
    font-size: 25px;
    font-weight: $bold;
    color: #ffffff;
  }

  .cost__normal {
    position: relative;
    display: inline-block;
    padding: 30px 20px;
    padding-left: 10px;
    padding-right: 0;
    color: #204c8c;
    background-color: #ffffff;
    flex: 0 1 auto;

    &::after {
      content: ' р.';
      font-size: 22px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      border: 45px solid transparent;
      border-left: 20px solid #fff;
      transform: translate(100%, 0);
    }
  }

  .cost__per-day,
  .cost__per-month {
    display: inline-block;
    padding: 30px 20px;
    flex: 0 1 auto;
  }

  .cost__per-day {
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 0;
    &::after {
      content: ' р/день.';
      font-size: 22px;
    }
  }

  .cost__per-month {
    padding-left: 0;
    padding-right: 10px;
    &::after {
      content: ' р/мес.';
      font-size: 22px;
    }
  }
}

.credit-stock {
  h2 {
    margin-bottom: 12px;

    font-family: $font-family-base;
    font-size: 15px;
    font-weight: $regular;
    color: #204c8c;
    text-transform: uppercase;
  }
}

.credit-stock__note {
  width: 100%;
  font-family: $font-family-base;
  font-weight: $regular;
  font-size: 16px;
  color: #484b4c;
  line-height: 1.8;

  .privacy-policy {
    display: inline-block;
    line-height: 1.3;
    font-size: 16px;
  }

  p {
    width: 100%;
    &:before {
      content: '*';
    }
    text-align: justify;
  }
}

.credit-stock__slider {
  margin-bottom: 30px;
  overflow: hidden;
  .main-carousel  {
    .owl-item {
      width: 100%;
      img {
        width: 100%;
        max-width: 550px;
      }
    }

    .inner {
      padding: 0;
    }

    .carousel-inner {
      margin-bottom: 0;
    }
  }
}

.credit__button {
  width: 100%;
}

.credit-payment__numbers-number {
  position: relative;
  &.active {
    color: #ffffff;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, -3px);
    content: '%';
    font-size: 16px;
  }
}

.credit-date__numbers-number {
  position: relative;

  &.active {
    color: #ffffff;
  }

  &::after {
    position: absolute;
    content: 'мес.';
    top: 0;
    right: -2px;
    transform: translate(100%, 1px);
    font-size: 12px;
  }
}

.popup.credit-fast-popup {
  height: auto;
}

.animate {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    //animation: roundIn 1s forwards;
    //opacity: 1;
    opacity: 0;
  }
}

@keyframes roundIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}