.gallery {
  width: 100%;
  position: relative;
}

.gallery__picture {
  display: block;
  width: 100%;
  height: 420px;
  background: no-repeat center/cover;

  &:hover,
  &:focus {
    outline: none;
  }
}

.gallery__inner {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url('#{$path-img}expand.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
  }
}

.fancybox-active {
  .gallery__inner {
    &::after {
      display: none;
    }
  }
}

.gallery__thumbs {
  height: 105px;
  margin-top: 2px;
}

.gallery__thumb {
  width: 140px;
  height: 105px;
  background: no-repeat center/cover;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;

  &.active {
    border-color: $brand-color-orange;
  }
}

.gallery__next,
.gallery__prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 100px;
  top: 2px;
  right: 0;
  margin: 0;
  background: rgba(0, 0, 0, .6);

  svg {
    width: 19px;
    height: 19px;
    fill: #fff;
    transition: all 0.3s;
    transform: rotate(-90deg);
  }

  &:hover,
  &:focus {
    outline: none;

    svg {
      fill: $brand-color-orange;
    }
  }


  &.swiper-button-disabled {
    opacity: 0;
  }

  &--main {
    width: 40px;
    height: 40px;
    bottom: 56%;

    svg {
      fill: $white;
      width: 28px;
      height: 28px;
    }
  }
}

.gallery__prev {
  left: 0;

  svg {
    transform: rotate(90deg);
  }
}