.main-page-slider{
  width: 100%;
  position: relative;
  .slide {
    width: 100%;
    max-width: 1920px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: auto 480px;
  }
  .owl-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 32px;
    .owl-dot {
      width: 60px;
      height: 2px;
      background: $white;
      margin: 0 5px;
      &.active {
        background: $brand-color-orange;
      }
    }
  }
  .owl-nav {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
  }
  .owl-prev {
    left: 70px;
    top: -210px;
    position: absolute;
    width: 47px;
    height: 17px;
    padding: 20px 0;
    font-size: 0;
    background: url("#{$path-img}arrow-slider.png") no-repeat center;
  }
  .owl-next {
    position: absolute;
    width: 47px;
    height: 17px;
    top: -210px;
    right: 70px;
    padding: 20px 0;
    font-size: 0;
    background: url("#{$path-img}arrow-slider.png") no-repeat center;
    transform: rotate(180deg);
  }
  .slider-text {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 80px;
    color: #fff;
    h2 {
      padding-top: 75px;
      font-size: 62px;
      font-weight: $thin;
      min-height: 74px;
    }
    p {
      padding-bottom: 45px;
      font-size: 16px;
      font-weight: $bold;
      min-height: 64px;
    }
  }
}

.btn {
  display: inline-block;
  position: relative;
  padding-right: 60px;
  font-family: $font-family-base;
  font-weight: $bold;
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 13px;
    background: url("#{$path-img}arrow-btn.png") no-repeat center;
    transition: all 0.5s;
  }
  &:hover {
    color: $brand-color-orange;
    &::after {
      background: url("#{$path-img}arrow-btn-orange.png") no-repeat center;
      transform: translateX(10px);
      transition: all 0.5s;
    }
  }
}

.btn--reverse {
  padding-right: 0;
  padding-left: 60px;

  &::after {
    right: auto;
    left: 0;
    transform: rotate(180deg);
  }

  &:hover {
    &::after {
      transform: rotate(180deg) translateX(10px);
    }
  }
}
.dark-btn {
  color: $text-color-gray;
  &::after {
    background: url("#{$path-img}arrow-btn-dark.png") no-repeat center;
    color: $text-color-gray;
  }
}
.models-menu {
  margin-bottom: 80px;
  position: relative;
  border-bottom: 1px solid $border-color;
  .inner {
    position: static;
    justify-content: center;
    >ul {
      display: flex;
      justify-content: center;
      li {
        border-left: 1px solid $border-color;
        >a {
          display: block;
          padding: 10px;
          margin: 25px 40px;
          text-transform: uppercase;
          font-family: $font-family-roboto;
          font-size: 13px;
          font-weight: $medium;
          color: $text-color-gray;
          transition: all 0.2s;
          &:hover {
            color: $brand-color-orange;
            transition: all 0.2s;
          }
        }
        &:first-child {
          border: none;
        }
        &:hover {
          >.sub-menu {
            visibility: visible;
            opacity: 1;
          }
          >a {
            color: $brand-color-orange;
            transition: all 0.2s;
          }
        }
        >.sub-menu {
          display: flex;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0.2s, opacity 0.2s linear;
          justify-content: center;
          position: absolute;
          width: 100%;
          left: 0;
          top: -65px;
          z-index: 2;
          background: $background-sub-menu;
          border-top: 1px solid $border-color;
          > li {
            margin: 10px 0;
            padding: 0 30px;
            border: none;
            >a{
              padding: 15px 25px;
              margin: 0;
              font-size: 12px;
              text-decoration: underline;
            }

          }
        }
        .current-menu-item {
          a {
            color: $brand-color-orange;
          }
        }
      }
    }
  }
}

.main-carousel {
  .carousel-inner {
    overflow: hidden;
    width: 1600px;
    justify-content: center;
    margin-bottom: 90px;
  }
  .owl-item {
    img{
      width: 320px;
    }
  }
  .inner {
    justify-content: center;
    .btn{
      margin-bottom: 95px;
    }
  }
}
@media screen and (max-width: 1350px) {
  .main-carousel {
    .carousel-inner {
      width: 960px;
    }
  }
}
@media screen and (min-width: 1350px) and (max-width: 1600px) {
  .main-carousel {
    .carousel-inner {
      width: 1280px;
    }
  }
}
.main-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  color: $text-color-black;
  margin-bottom: 115px;
  overflow: hidden;
  .dot-title {
    position: relative;
    font-size: 35px;
    font-weight: $thin;
    padding-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #EBEBEB;
    }
    &::before {
      content: "";
      position: absolute;
      top: 25%;
      left: -40px;
      width: 10px;
      height: 10px;
      border: 2px solid $text-color-black;
      border-radius: 50%;
      background: #EBEBEB;
    }
  }
}
.information-advantages {
  position: relative;
  padding: 233px 0 200px;
  .about-image {
    width: 604px;
    height: 680px;
    margin-left: -215px;
    flex-shrink: 0;
    background-position: center;
  }
  .information-block {
    display: flex;
    flex-direction: column;
    padding: 0 25px 0 80px;
    p {
      display: block;
      width: 676px;
      min-height: 200px;
      font-weight: $regular;
      font-size: 14px;
      line-height: 26px;
      &:first-of-type {
        &:first-letter {
          float: left;
          font-size: 72px;
          margin: 20px 10px 10px -5px;

        }
      }
    }
  }
  .advantages-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 400px;
    .advantage {
      padding-top: 50px;
      display: flex;
      text-transform: uppercase;
      align-items: center;
      span {
        padding-left: 25px;
        font-size: 12px;
        font-weight: $bold;
        line-height: 20px;
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 574px;
    width: 34px;
    height: 34px;
    background: url("#{$path-img}map-point-circle-lightgray.png") no-repeat center;
  }
}

@media (min-width: 1300px) and (max-width: 1450px) {
  .information-advantages .about-image {
    width: 500px;
    margin-left: -100px;
  }
}

@media (max-width: 1300px) {
  .information-advantages .about-image {
    width: 400px;
    margin-left: 0;
  }
}

.contacts-form {
  width: 100%;
  overflow: hidden;
  .map-block {
    margin-right: -200px;
    position: relative;
    width: 815px;
    height: 720px;
    background: $white;
  }
  .substrate {
    position: absolute;
    top: 0;
    left: 0;
    width: 815px;
    height: 720px;
    cursor: pointer;
  }
  address {
    position: relative;
    margin: 20px 0 40px;
    padding-left: 25px;
    font-style: normal;
    font-size: 14px;
    &:before {
      content: "";
      position: absolute;
      width: 11px;
      height: 15px;
      top: 50%;
      margin-top: -7px;
      left: 0;
      background: url("#{$path-img}icons-header.png") no-repeat center;
      background-position: 0 0;
    }
  }
  .phones {
    position: relative;
    height: 55px;
    padding-left: 25px;
    margin-bottom: 103px;
    font-size: 14px;
    line-height: 26px;
    font-weight: $regular;
    span {
      font-weight: $bold;
    }
    &:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 50%;
      margin-top: -7px;
      left: 0;
      background: url("#{$path-img}icons-header.png") no-repeat center;
      background-position: -53px 0;
    }
  }

}
.main-form {
  width: 470px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  input[type="text"]{
    width: 100%;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #9EAAAE;
    font-family: $font-family-base;
    font-weight: $regular;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
    color: $text-color-gray;
    &:focus,
    &:valid {
      outline: none;
      border-bottom-color: #37515A;
      &+span{
        transform: translateY(-25px);
        transition: transform 0.3s;
      }
    }
  }

  textarea {
    width: 100%;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #9EAAAE;
    font-family: $font-family-base;
    font-weight: $regular;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
    color: $text-color-gray;
    resize: none;
    &:focus {
      outline: none;
      border-bottom-color: #37515A;
    }
  }
  .fix-span {
    transform: translateY(-25px);
    transition: transform 0.3s;
  }
  input[type="text"].js-area {
    border-bottom: 2px solid #9EAAAE;
    &:focus {
      outline: none;
      border-bottom-color: #37515A;
    }
  }


  label {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 35px;
    line-height: 20px;
  }
  .half {
    align-self: flex-end;
    width: 45%;
  }
  span {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    color: #929292;
    transform: translateY(0);
    transition: transform 0.3s;
  }
  input[type="submit"] {
    padding: 20px 35px;
    font-family: $font-family-base;
    font-weight: $bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $brand-color-orange;
    background: none;
    box-shadow: none;
    border: 2px solid $brand-color-orange;
    line-height: 15px;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.3s;
    &:hover {
      color: $white;
      background: $brand-color-orange;
      transition: all 0.3s;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    padding: 20px 35px;
    font-family: $font-family-base;
    font-weight: $bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $brand-color-orange;
    background: none;
    box-shadow: none;
    border: 2px solid $brand-color-orange;
    line-height: 15px;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.3s;
    &:hover {
      color: $white;
      background: $brand-color-orange;
      transition: all 0.3s;
    }
    &:focus {
      outline: none;
    }
  }

  .button-dis {
    color: grey;
    border: 2px solid grey;
  }

}
.main-line-svg {
  position: absolute;
  top: 10px;
  left: 0;
  margin-left: -163px;
  animation: dash 20s linear infinite forwards;
  z-index: -1;
}
.map-line-svg {
  position: absolute;
  width: 386px;
  left: 0;
  top: 207px;
  height: 176px;
  animation: dash-reverse 20s linear infinite forwards;
}
@keyframes dash {
  100% {
    stroke-dashoffset: 1000;
  }
}
@keyframes dash-reverse {
  0% {
    stroke-dashoffset: 1000;
  }
}

.car-types-block {
  .car-types-items{
    padding-top: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    font-size: 13px;
  }
  .car-types-item {
    flex-shrink: 0;

  }
  .car-types-img {
    min-width: 90px;
    height: 35px;
  }
  h3 {
    display: block;
    font-weight: $bold;
    text-transform: uppercase;
    padding: 25px 0 20px;
  }
  ul {
    li {
      a {
        display: block;
        padding: 5px 0;
        font-weight: $regular;
        color: $text-color-gray;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.grecaptcha-badge {
  display: none;
}
