.page-car {
  h1 {
    text-transform: uppercase;
  }

  .car-catalog-item {
    h2 {
      position: relative;

      &::before,
      &::after {
        display: none;
      }
    }
  }
  .car-types-margin {
    margin-top: 0;
  }

  .content-page {
    margin-bottom: 100px;
  }
}