.not-found {
  width: 100%;
  height: 980px;
  margin-bottom: -75px;
  background: url("#{$path-img}bg-404-min.jpg") no-repeat top center;
  .inner {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.not-found__logo-wrapper {
  margin-top: 65px;
  margin-bottom: 40px;
}
.not-found__logo {
  max-width: 180px;
  height: auto;
  margin:0 25px;
}
.not-found__phone {
  position: relative;
  padding: 15px 40px 15px 75px;
  font: $regular 17px/1 $font-family-base;
  color: $text-color-gray;
  background: $white;
  margin-bottom: 30px;
  &:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    margin-top: -7px;
    left: 35px;
    background: url("#{$path-img}icons-header.png") no-repeat center;
    background-position: -53px 0;
  }
}
.not-found__number {
  font: $thin 187px/1 $font-family-base;
  color: #3b72bd;
  user-select: none;
}

.not-found__title {
  display: block;
  font: $regular 18px/24px $font-family-base;
  color: $text-color-gray;
  text-align: center;
  margin-bottom: 25px;
}
.not-found__home-btn {
  padding: 15px 30px;
  font: $bold 13px/1.2 $font-family-base;
  color: $white;
  text-transform: uppercase;
  background: $brand-color-orange;
  transition: all 0.3s;
  &:hover,
  &focus,
  &:active {
    background: lighten($brand-color-orange, 5%);
    transition: all 0.3s;
  }
}