.preloader {
  display: none;
  &.active {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .8);
  }
}

.preloader-small {
  display: none;

  &.active {
    z-index: 30;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .8);
  }
}

.circle{
  width: 20px;
  height: 20px;
  animation-name: bounce_circle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  border-radius: 20px;
  //background-color: rgb(255,255,255);
  background-color: #05367e;
  &:not(:last-child) {
    margin-right:10px;
  }
}

.circle-1{
  animation-delay:0.15s;
}

.circle-2{
  animation-delay:0.25s;
}

.circle-3{
  animation-delay:0.35s;
}



@keyframes bounce_circle{
  0%{
    //opacity: 1;
  }

  50%{
    //background-color:rgb(0,0,0);
    background-color: $brand-color-orange;
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}