.product {
  padding-top: 50px;
  margin-bottom: 20px;
}

.product__gallery {
  width: 47%;
}

.product__description {
  width: 46%;
  font-family: $font-family-base;
  font-size: 16px;
  line-height: $line-height-base;
  color: #1f191a;

  .form-pickup__button {
    font-size: .75em;
  }
}

.product-description__inner {
  width: 75%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;

  .form-pickup__button {
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.product-description__header {
  width: 100%;
  margin-bottom: 30px;
  @include title;
  font-family: $font-family-base;
  font-weight: $bold;
  font-size: 1.375em;
  color: $text-color-gray;
  text-transform: uppercase;
}

.product-description__cost {
  display: inline-block;
  padding: 17px 26px;
  font-size: 1.5em;
  color: $text-color-gray;
  border: 1px dashed $text-color-gray;
  border-radius: 5px;
}

.product-description--credit {
  display: none;
  width: 100%;
  margin-bottom: 20px;

  font-size: 1em;
  font-weight: $bold;
  color: #164487;
  text-align: left;

  &::before{
    content: '!';
    display: inline-block;
    margin-right: 20px;
    width: 22px;
    height: 22px;
    background-color: #164487;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    line-height: 23px;
    font-size: 1em;
    font-weight: $regular;
  }
}

.product-description--credit[data-credit] {
  display: inline-block;
}

.product-characteristics {
  width: 100%;
  margin-bottom: 25px;
  border-collapse: collapse;

  tr:not(:last-child) td {
    padding-bottom: 15px;
  }
}

.product-characteristics__title {
  font-family: $font-family-base;
  font-size: 1em;
  font-weight: $thin;
  text-transform: uppercase;
  color: #231f20;
}

.product-characteristics__item {
  font-family: $font-family-base;
  font-size: 1.1875em;
  font-weight: $bold;
  color: $text-color-gray;
}

.product-description__text {
  font-family: $font-family-base;
  font-size: 1em;
  line-height: 1.6;
  color: #1f191a;
}

@include screen-md {
  .product-description__inner {
    width: auto;
  }

  .product__gallery {
    width: 50%;
  }

  .product__description {
    width: 48%;
    font-size: 15px;
  }
}

@include tablet-lg {
  .product {
    .inner {
      flex-direction: column;
      align-items: center;
    }
  }

  .product__gallery {
    width: 80%;
    margin-bottom: 20px;
  }

  .product__description {
    width: 80%;
  }

  .product-description__text {
    text-align: justify;
  }
}

@include tablet-sm {
  .product__gallery {
    width: 85%;
  }

  .product__description {
    font-size: 14px;
  }

  .product-description__cost {
    padding-left: 15px;
    padding-right: 15px;
  }

  .product {
    .gallery__picture {
      height: 320px;
    }

    .gallery__thumb {
      height: 80px;
    }

    .gallery__next,
    .gallery__prev {
      height: 75px;
    }
  }

  .product-description__inner {
    .form-pickup__button {
      font-size: .8em;
    }
  }
}

@include phone-lg {
  .product__gallery {
    width: 100%;
    margin-bottom: 20px;
  }

  .product__description {
    width: 100%;
    font-size: 13px;
  }

  .product {
    .gallery__thumb {
      height: 60px;
    }

    .gallery__next,
    .gallery__prev {
      height: 55px;
    }

    .gallery__picture {
      height: 220px;
    }

    .gallery__thumbs {
      height: 60px;
    }
  }

  .product-description__inner {
    flex-direction: column;
    text-align: center;
    align-items: center;

    .form-pickup__button {
      width: 80%;
      font-size: 1.2em;
    }
  }

  .product-description__cost {
    width: 80%;
    margin-bottom: 10px;
  }
}