.sales-list-block {
  background: $background-gray;
  padding-bottom: 30px;
  margin-bottom: 80px;
  .inner {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .breadcrumbs {
    margin: 0;
    padding: 45px 0 35px;
  }
  .title {
    display: block;
    width: 100%;
    position: relative;
    color: $text-color-black;
    font-size: 30px;
    font-weight: $thin;
    line-height: 40px;
    margin-bottom: 60px;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #DDDDDD;
    }
  }
  .sales-item {
    display: flex;
    width: 270px;
    margin-right: 30px;
    flex-direction: column;
    background: $white;
    box-shadow: 0 5px 15px 0 rgba(77, 76, 97, 0.13);
    margin-bottom: 60px;
    transition: all 0.3s;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0 5px 28px 0 rgba(77, 76, 97, 0.37);
      transition: all 0.3s;
      .link-title {
        color: $brand-color-orange;
      }
    }
  }
  .img-wrapper {
    height: 160px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }
  }
  .link-title {
    padding: 15px;
    font-size: 14px;
    font-weight: $bold;
    text-transform: uppercase;
    line-height: 20px;
  }

}