.sales-block {
  padding: 60px 0;
  ul {
    padding-left: 30px;
  li {
      margin-bottom: 10px;
      line-height: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -25px;
        top: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #E7E0E1;
      }
    }
  }
  .title {
    display: inline-block;
    width: 500px;
    position: relative;
    color: $text-color-black;
    font-size: 30px;
    font-weight: $thin;
    line-height: 40px;
    margin-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #DDDDDD;
    }
  }

  h1 {
    font-size: 35px;
    font-weight: $thin;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 30px;
    font-weight: $thin;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 25px;
    font-weight: $thin;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 14px;
    font-weight: $bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .first-letter:first-letter {
    float: left;
    font-size: 72px;
    margin: 20px 10px 10px -5px;
  }
  .inner {
    flex-direction: column;
  }
  .post-img {
    float: left;

    img {
      max-height: 465px;
      max-width: 500px;
      margin-right: 40px;
      margin-bottom: 20px;
    }
  }
}
.sales-request {
  padding-top: 50px;
  .inner {
    flex-direction: column;
    height: inherit;
  }
  h2 {
    text-align: center;
    font-weight: $thin;
    font-size: 30px;
  }
  .sales-line {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -440px;
    animation: dash-reverse 20s linear infinite forwards;
  }
  .sale-form-bg {
    background: url("#{$path-img}bg-sale-form.jpg") no-repeat center;
    width: 100%;
    height: 240px;
    margin: 110px 0 90px;
    .inner {
      align-items: center;
      justify-content: center;
      &::before {
        content: "";
        position: absolute;
        top: -80px;
        left: 50%;
        margin-left: -17px;
        width: 34px;
        height: 34px;
        background: url("#{$path-img}map-point-circle-lightgray.png") no-repeat center;
      }
    }
  }
  .sale-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    input {
      width: 280px;
      height: 50px;
      border: none;
      box-shadow: none;
      padding: 0 20px;
      font-family: $font-family-base;
      font-size: 14px;
      color: $text-color-black;
    }
    input[type="text"] {
      border-left: 4px solid #E1E1E1;
      font-weight: $regular;
    }
    input[type="submit"] {
      background: #0091ED;
      color: $white;
      font-size: 13px;
      line-height: 50px;
      font-weight: $bold;
      text-transform: uppercase;
      cursor: pointer;
    }

    input[disabled] {
      opacity: .4;
      cursor: default;
    }
  }

  .sale-form--top {
    .sale-form {
      margin-top: 50px;
    }
  }
}

.sale-form__row {
  display: flex;
  align-items: center;
  width: 100%;

  &:first-of-type {
    margin-top: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .custom-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    font-family: $font-family-base;
    font-size: 16px;
    color: #ffffff;
    font-weight: $regular;
  }
}

