.service__header {
  width: 100%;
  margin-bottom: 40px;
  @include title;
  font-size: 21px;
}

.service {
  padding-top: 40px;
  font-family: $font-family-base;
  font-size: 15px;
  color: #08387f;
  font-weight: $thin;

  .inner {
    max-width: 1200px;
    flex-wrap: wrap;
  }
}

.service__button {
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-bottom: 15px;
  font-family: $font-family-base;
  font-size: 12px;
  padding: 20px 50px;
  font-weight: $medium;
  text-transform: uppercase;
  color: $brand-color-orange;
  background-color: #ffffff;
  border: 2px solid $brand-color-orange;
  line-height: 15px;
  cursor: pointer;
  border-radius: 2px;
  transition: all .3s;

  &:active,
  &:hover {
    color: #ffffff;
    border-color: transparent;
    background: $brand-color-orange;
  }
}

.service-notation {
  margin-bottom: 55px;

  font-family: $font-family-base;
  font-size: 13px;
  color: #484b4c;
  line-height: 1.8;
  font-weight: $medium;

  p {
    &::before {
      content: '-';
    }

    &:first-child {
      &::before {
        content: '1 -';
      }
    }
  }
}

.service-calculator {
  width: 100%;
  margin-bottom: 70px;

  form {
    display: flex;
  }
}

.service-calculator__select,
.service-calculator__panel {
  width: 50%;
  padding: 50px 40px;
}

.service-calculator__select {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;

  &::before {
    z-index: 2;
    content: '';
    position: absolute;
    top: 12%;
    right: 0;
    display: block;
    transform: translate(100%, -50%);
    border: 30px solid transparent;
    border-left: 24px solid #fafafa;
  }
}

.calculator-select {
  .nice-select {
    width: 100%;
    height: auto;
    padding: 5px 40px 5px 20px;
    border-radius: 0;
    border: none;
    box-shadow: 0 4px 15px 2px #f0f1f2;
    color: #204c8c;

    .current {
      font-family: $font-family-base;
      font-size: 15px;
      text-transform: none;
      font-weight: $bold;
      color: #204c8c;
    }

    .list {
      width: 100%;
    }

    &::after {
      height: 13px;
      width: 18px;
      background: url('#{$path-img}select-arrow.svg') no-repeat center;
      background-size: 100% 100%;
      border: none;
      transform: none;
      transform-origin: 50% 50%;
    }

    &.open {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.service-calculator__select-item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.service-calculator__select-title {
  margin-bottom: 10px;

  font-family: $font-family-base;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: $regular;
  color: #204c8c;
}

.service-calculator__image {
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 90px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.service-calculator__panel {
  z-index: 1;
  position: relative;
  padding-top: 90px;
  padding-left: 50px;
  padding-right: 45px;
  background-color: #204c8c;
  color: #ffffff;
}

.service-calculator__panel-title {
  margin-bottom: 25px;

  font-family: $font-family-base;
  font-size: 16px;
  font-weight: $bold;
  text-transform: uppercase;
}

.service-calculator__panel-desc {
  margin-bottom: 40px;
  padding-right: 30px;
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $thin;
  color: #bdd4f7;
}

.service-mileage {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  flex-wrap: wrap;
  h2 {
    width: 60%;
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: $regular;
    color: #c6ddff;
    text-transform: uppercase;
  }

  input[type=number] {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: $bold;
    color: #204c8c;
  }

  .range {
    .ui-state-default {
      background-color: #7eb2ff;
    }

    .ui-slider-handle {
      transform: translateX(-50%);
    }
  }

  .ui-widget-content {
    background-color: rgba(188, 196, 199, .6);
  }
}

.service-mileage__inner {
  display: flex;
  width: 100%;
  align-items: center;
}

.service-mileage__numbers {
  position: absolute;
  bottom: 0;
  display: flex;

  justify-content: space-between;
  align-items: center;
  left: 0;
  right: -5px;
}

.service-mileage__numbers-number {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $bold;
  opacity: .2;

  &.active {
    opacity: 1;
  }
}

.line-of-range {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 5%;
  height: 5px;
  background-color: #fff;
}

.service-calculator__button {
  display: inline-block;
  margin-bottom: 35px;
  font-family: $font-family-base;
  font-size: 12px;
  padding: 20px 50px;
  font-weight: $medium;
  text-transform: uppercase;
  color: #fff;
  background: 0 0;
  border: 1px solid #fff;
  line-height: 15px;
  cursor: pointer;
  border-radius: 2px;
  transition: all .3s;

  &:active,
  &:hover {
    border-color: transparent;
    background: $brand-color-orange;
  }

  &--white {
    margin-bottom: 0;
    background-color: #ffffff;
    color: #204c8c;

    &:active,
    &:hover {
      border-color: transparent;
      background: $brand-color-orange;
      color: #ffffff;
    }
  }
}

.service-calculator__data {
  width: 74%;
  margin-bottom: 55px;

  h3 {
    margin-bottom: 15px;
    font-size: 14px;
    font-family: $font-family-base;
    font-weight: $bold;
  }

  p {
    margin-bottom: 35px;
    font-size: 14px;
    font-family: $font-family-base;
    font-weight: $thin;
    color: #bdd4f7;
  }
}

.service-calculator__data-cost {
  margin-bottom: 10px;

  h2 {
    margin-bottom: 10px;
    font-size: 17px;
    font-family: $font-family-base;
    font-weight: $medium;
  }

  .cost {
    margin-right: 20px;
    font-size: 24px;
    font-family: $font-family-base;
    font-weight: $bold;
    color: #fff;

    &::after {
      content: ' р.';
      font-size: 17px;
    }
  }

  .type {
    font-size: 18px;
    font-family: $font-family-base;
    font-weight: $bold;
    color: #fff;
  }
}

.service-calculator__panel-materials {
  font-size: 15px;
  font-family: $font-family-base;
  font-weight: $thin;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;

  &:hover,
  &:active {
    border-color: transparent;
  }
}

.popup.materials-popup,
.popup.service-request-popup,
.popup.service-fast-popup{
  height: auto;
}

.materials-popup__item {
  line-height: 1.3;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  h2 {
    padding-bottom: 0;
    margin-bottom: 20px;
    color: $brand-color-orange;

    &:after {
      display: none;
    }
  }
  
  p {
    text-align: left;
    line-height: 1.3;
  }

  ul li {
    display: list-item;
    list-style-type: disc;

    p {
      margin-bottom: 0;
      line-height: 1.3;
    }
  }

  ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .materials-popup__item-note {
    font-size: 12px;
    font-style: italic;

    &::before {
      content: '*';
      vertical-align: top;
    }
  }
}