.thanks-block{
  width: 100%;
  background: $white;
  & .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .check-icon{
      display: block;
      width: 120px;
      height: 120px;
      text-align: center;
      margin: 100px 0 0 0;
    }
    & .thank-you-text{
      display: block;
      font: $thin 35px/1.2 $font-family-base;
      margin: 40px 0 0 0;
      color: $text-color-gray;
      & span{
        display: block;
        font: $regular 16px/1.2 $font-family-base;
        margin: 10px 0 60px;
      }
    }
    .thanks-social-icons {
      display: flex;
      font-size: 0;
      a {
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
        margin: 0 12px;
        border-radius: 50%;
        background: #365059;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          background: url("#{$path-img}social-icons.png") no-repeat center;
        }
      }
      .fb {
        &::before {
          width: 9px;
          margin-left: -4px;
          height: 16px;
          margin-top: -8px;
          background-position: -9px 0;
        }
        &:hover {
          background: #4266b2;
        }
      }
      .vk {
        &::before {
          width: 21px;
          margin-left: -11px;
          height: 12px;
          margin-top: -6px;
          background-position: -119px 0;
        }
        &:hover {
          background: #4975a8;
        }
      }
      .inst {
        &::before {
          margin-left: -8px;
          margin-top: -8px;
          width: 15px;
          height: 15px;
          background-position: -33px 0;
        }
        &:hover {
          background:
                  // left bottom
                  radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                  radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                    // left top
                  radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                  radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                    //  right top
                  radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                  radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                    // right bottom
                  radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

                    /////// create a base coat to smooth
                    /////// corner gradients
                  linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        }
      }
      .ok {
        &::before {
          margin-left: -5px;
          margin-top: -9px;
          width: 10px;
          height: 17px;
          background-position: -58px 0;
        }
        &:hover {
          background: #f96200;
        }
      }
      .ps {
        &::before {
          margin-left: -8px;
          margin-top: -9px;
          width: 15px;
          height: 18px;
          background-position: -83px 0;
        }
        &:hover {
          background: #53bed5;
        }
      }
      .you {
        &::before {
          margin-left: -8px;
          margin-top: -10px;
          width: 16px;
          height: 19px;
          background-position: -156px 0;
        }
        &:hover {
          background: #ff2200;
        }
      }
    }
  }
}