.videos {
  margin-bottom: 40px;

  .inner {
    flex-direction: column;
  }
}

.videos__main {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 90px;

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.videos__carousel {
  width: 80%;
}

.videos__carousel-item {
  position: relative;
  //width: 100px;
  //height: 200px;

  img {
    max-width: none;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.videos__title {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: $font-family-base;
  font-weight: $thin;
  font-size: 31px;
  text-align: center;
}
.videos__carousel-title {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: $font-family-base;
  font-weight: $thin;
  font-size: 31px;
}

@include screen-md {
  .videos {
    margin-bottom: 80px;
  }
}

@include tablet-lg {
  .videos__main,
  .videos__carousel,
  .videos__title,
  .videos__carousel-title {
    width: 100%;
  }

  .videos__main {
    margin-bottom: 40px;
  }
}

@include tablet-sm {
  .videos__title,
  .videos__carousel-title {
    font-size: 28px;
  }

  .videos__carousel {
    .buttons-list__button--play a {
      background-size: 60px 60px;
    }
  }
}

@include phone-lg {
  .videos {
    margin-bottom: 20px;
  }

  .videos__carousel {
    .buttons-list__button--play a {
      background-size: 50px 50px;
    }
  }
}

@include phone-md {
  .videos__title,
  .videos__carousel-title {
    font-size: 20px;
  }
}