@font-face {
  font-family: 'Leto Sans';
  src: url("../fonts/letosans-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Leto Sans';
  src: url("../fonts/letosans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Leto Sans';
  src: url("../fonts/letosans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html,
body {
  height: 100%; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

ul li {
  display: block; }

dl {
  margin-top: 0;
  margin-bottom: 0; }

dd {
  margin-left: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit; }

blockquote {
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

strong {
  font-weight: bold; }

figure {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle; }

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  margin: 56px 0 28px;
  font-weight: 900;
  line-height: 1.2;
  clear: both; }

.typography h1 {
  font-size: 33px; }

.typography h2 {
  font-size: 28px; }

.typography h3 {
  font-size: 23px; }

.typography h4,
.typography h5,
.typography h6 {
  font-size: 19px; }

.typography h1:first-child,
.typography h2:first-child,
.typography h3:first-child,
.typography h4:first-child,
.typography h5:first-child,
.typography h6:first-child {
  margin-top: 0; }

.typography p {
  margin: 0 0 8px;
  line-height: 1.5; }

.typography p + ul {
  margin: 0 0 30px; }

.typography ul,
.typography ol {
  margin: 16px 0;
  padding-left: 40px; }

.typography li {
  display: list-item; }

.typography .alignleft {
  float: left;
  margin: 6px 28px 28px 0; }

.typography .alignright {
  float: right;
  margin: 6px 0 28px 28px; }

.typography .aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 28px; }

::-moz-selection {
  background: rgba(0, 0, 0, 0.7);
  color: #fff; }

::selection {
  background: rgba(0, 0, 0, 0.7);
  color: #fff; }

body {
  background-color: #fff;
  font-family: "Leto Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2; }

body, html {
  min-height: 100%;
  height: auto; }

main {
  min-height: 100%; }

main,
footer {
  max-width: 100%;
  min-width: 1200px; }

footer {
  height: 562px; }

.inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 15px; }

header {
  color: #42525a; }
  header .inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.top-menu {
  padding: 10px 0;
  background: #EFF3F5; }
  .top-menu address {
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    font-style: normal; }
    .top-menu address:before {
      content: "";
      position: absolute;
      width: 11px;
      height: 15px;
      top: 50%;
      margin-top: -7px;
      left: 0;
      background: url("../img/icons-header.png") no-repeat center;
      background-position: 0 0; }
  .top-menu .phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-left: 25px;
    margin-right: 20px; }
    .top-menu .phones:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 50%;
      margin-top: -7px;
      left: 0;
      background: url("../img/icons-header.png") no-repeat center;
      background-position: -53px 0; }
  .top-menu .phone {
    margin-right: 10px; }
    .top-menu .phone span {
      font-weight: 700; }
  .top-menu a {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #4d5f69; }
    .top-menu a:hover {
      color: #37454b; }

.middle-menu {
  border-bottom: 1px solid #D8E0E0;
  padding: 13px 0; }
  .middle-menu .logo-avtovek {
    width: 101px;
    height: 26px; }
  .middle-menu .logo-lada {
    width: 126px;
    height: 35px; }
  .middle-menu .search {
    padding: 25px;
    border: none;
    border-left: 1px solid #D8E0E0;
    border-right: 1px solid #D8E0E0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    cursor: pointer; }
    .middle-menu .search:hover .search-icon {
      background-position: -85px 0; }
    .middle-menu .search:focus {
      outline: none;
      background: #eee; }
    .middle-menu .search:visited {
      outline: none; }
  .middle-menu .search-icon {
    width: 17px;
    height: 17px;
    background: url("../img/icons-header.png") no-repeat center;
    background-position: -68px 0; }
  .middle-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .middle-menu ul li {
      position: relative;
      padding-left: 45px;
      margin-right: 15px;
      line-height: 24px; }
      .middle-menu ul li::before {
        content: "";
        position: absolute;
        left: 16px;
        top: 50%;
        margin-top: -11px;
        background: url("../img/icons-header.png") no-repeat center; }
      .middle-menu ul li::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 24px;
        background: #EDEFEF; }
      .middle-menu ul li:first-child::after {
        display: none; }
      .middle-menu ul li a {
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 0;
        cursor: pointer; }
        .middle-menu ul li a:hover {
          color: #627a86; }
    .middle-menu ul .test:before {
      width: 21px;
      height: 21px;
      background-position: -102px 0; }
    .middle-menu ul .repairs:before {
      width: 21px;
      height: 20px;
      background-position: -123px 0; }
    .middle-menu ul .credit:before {
      width: 21px;
      height: 14px;
      margin-top: -7px;
      background-position: -11px 0; }
    .middle-menu ul .question:before {
      width: 21px;
      height: 15px;
      margin-top: -7px;
      background-position: -32px 0; }

.main-menu {
  position: relative;
  border-bottom: 1px solid #D8E0E0; }
  .main-menu .inner {
    position: static; }
    .main-menu .inner > ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .main-menu .inner > ul li > a {
        display: block;
        position: relative;
        padding: 15px;
        margin: 10px 0;
        text-transform: uppercase;
        font-family: "Leto Sans", Arial, sans-serif;
        font-weight: 700;
        font-size: 13px; }
      .main-menu .inner > ul li:hover > .sub-menu {
        visibility: visible;
        opacity: 1; }
      .main-menu .inner > ul li:hover > a {
        color: #ee6a06;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .main-menu .inner > ul li > .sub-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0.2s, opacity 0.2s linear;
        -o-transition: visibility 0.2s, opacity 0.2s linear;
        transition: visibility 0.2s, opacity 0.2s linear;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 2;
        background: #EFF3F5;
        border-top: 1px solid #D8E0E0; }
        .main-menu .inner > ul li > .sub-menu > li {
          border-left: 1px solid #D8E0E0;
          margin: 10px 0;
          padding: 0 30px; }
          .main-menu .inner > ul li > .sub-menu > li > a {
            padding: 10px 25px;
            margin: 0;
            font-size: 12px; }
          .main-menu .inner > ul li > .sub-menu > li:first-child {
            border: none; }
      .main-menu .inner > ul .drop-down-arrow > a::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 5px;
        right: 0;
        top: 50%;
        margin-top: -3px;
        background: url("../img/arrow-drop-down.png") no-repeat center;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s; }
      .main-menu .inner > ul .drop-down-arrow:hover > a::after {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s; }
      .main-menu .inner > ul .current-menu-item > a {
        color: #ee6a06; }

.search-block {
  width: 100%;
  padding: 3px 0;
  display: none;
  position: absolute;
  z-index: 2; }
  .search-block .inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .search-block .search-field {
    display: block;
    width: 99%;
    -webkit-box-shadow: 0.375px 0.927px 12px 0 rgba(46, 46, 53, 0.23);
    box-shadow: 0.375px 0.927px 12px 0 rgba(46, 46, 53, 0.23);
    height: 57px;
    border: none;
    color: #42525a;
    font-family: "Leto Sans", Arial, sans-serif;
    font-size: 16px;
    padding-left: 20px; }
    .search-block .search-field:focus {
      outline: none; }

::-webkit-input-placeholder {
  color: #858c90; }

::-moz-placeholder {
  color: #858c90; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #858c90; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #858c90; }

footer {
  margin-top: 75px;
  font-family: "Leto Sans", Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 12px;
  background: #304856;
  background: -webkit-gradient(linear, left top, right top, from(#304856), color-stop(50%, #304856), color-stop(50%, #304655), to(#304655));
  background: -webkit-linear-gradient(left, #304856 0%, #304856 50%, #304655 50%, #304655 100%);
  background: -o-linear-gradient(left, #304856 0%, #304856 50%, #304655 50%, #304655 100%);
  background: linear-gradient(to right, #304856 0%, #304856 50%, #304655 50%, #304655 100%);
  z-index: 1; }
  footer .second-bg {
    padding: 95px 0 10px;
    background: url("../img/bg-footer.jpg") no-repeat center; }
  footer .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 2; }
  footer .first-row,
  footer .second-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  footer .second-row {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 50px 0; }
  footer .footer-menu ul {
    height: 200px;
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    footer .footer-menu ul li {
      margin-bottom: 25px; }
      footer .footer-menu ul li a {
        text-transform: uppercase;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        footer .footer-menu ul li a:hover {
          color: #82898e;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
  footer .contacts {
    font-size: 14px;
    padding-right: 20px;
    width: 350px; }
    footer .contacts h3 {
      padding-left: 45px;
      font-weight: 400;
      margin-bottom: 28px; }
    footer .contacts address {
      position: relative;
      padding-left: 45px;
      margin-bottom: 35px;
      font-style: normal;
      line-height: 31px; }
      footer .contacts address:before {
        content: "";
        position: absolute;
        width: 34px;
        height: 34px;
        top: 50%;
        margin-top: -17px;
        left: 0;
        background: url("../img/map-point-circle-orange.png") no-repeat center; }
    footer .contacts .phones {
      position: relative;
      height: 55px;
      padding-left: 45px;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400; }
      footer .contacts .phones span {
        font-weight: 700; }
      footer .contacts .phones:before {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        top: 50%;
        margin-top: -11px;
        left: 7px;
        background: url("../img/icon-phone-footer.png") no-repeat center; }
  footer .additional-info {
    padding-top: 25px;
    border-top: 1px solid #475C68;
    color: #adb2b6; }
    footer .additional-info p {
      margin-bottom: 7px; }
    footer .additional-info a {
      color: #fff;
      padding-left: 5px; }
      footer .additional-info a:hover {
        text-decoration: underline; }
  footer .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    border: 1px solid #5F7987; }
    footer .social-icons a {
      position: relative;
      width: 40px;
      height: 40px;
      border-left: 1px solid #5F7987;
      -webkit-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }
      footer .social-icons a:first-of-type {
        border: none; }
      footer .social-icons a::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: url("../img/social-icons.png") no-repeat center; }
    footer .social-icons .fb::before {
      width: 9px;
      margin-left: -4px;
      height: 16px;
      margin-top: -8px;
      background-position: -9px 0; }
    footer .social-icons .fb:hover {
      background: #fff;
      -webkit-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }
      footer .social-icons .fb:hover::before {
        background-position: 0 0; }
    footer .social-icons .vk::before {
      width: 21px;
      margin-left: -11px;
      height: 12px;
      margin-top: -6px;
      background-position: -119px 0; }
    footer .social-icons .vk:hover {
      background: #fff;
      -webkit-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }
      footer .social-icons .vk:hover::before {
        background-position: -98px 0; }
    footer .social-icons .inst::before {
      margin-left: -8px;
      margin-top: -8px;
      width: 15px;
      height: 15px;
      background-position: -33px 0; }
    footer .social-icons .inst:hover {
      background: #fff;
      -webkit-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }
      footer .social-icons .inst:hover::before {
        background-position: -18px 0; }
    footer .social-icons .ok::before {
      margin-left: -5px;
      margin-top: -9px;
      width: 10px;
      height: 17px;
      background-position: -58px 0; }
    footer .social-icons .ok:hover {
      background: #fff;
      -webkit-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }
      footer .social-icons .ok:hover::before {
        background-position: -48px 0; }
    footer .social-icons .ps::before {
      margin-left: -8px;
      margin-top: -9px;
      width: 15px;
      height: 18px;
      background-position: -83px 0; }
    footer .social-icons .ps:hover {
      background: #fff;
      -webkit-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }
      footer .social-icons .ps:hover::before {
        background-position: -68px 0; }
    footer .social-icons .you::before {
      margin-left: -8px;
      margin-top: -10px;
      width: 16px;
      height: 19px;
      background-position: -156px 0; }
    footer .social-icons .you:hover {
      background: #fff;
      -webkit-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }
      footer .social-icons .you:hover::before {
        background-position: -140px 0; }
  footer .developer {
    font-size: 13px; }
    footer .developer a {
      color: #9ba6af; }
    footer .developer span {
      color: #fff; }
      footer .developer span:hover {
        text-decoration: underline; }

.popup-block-test-drive,
.popup-block-equipment,
.popup-block-repair {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: 14px;
  font-family: "Leto Sans", Arial, sans-serif;
  color: #231f20;
  -webkit-transition: opacity 0.5s , visibility 0.5s;
  -o-transition: opacity 0.5s , visibility 0.5s;
  transition: opacity 0.5s , visibility 0.5s;
  overflow-y: scroll; }
  .popup-block-test-drive .overlay,
  .popup-block-equipment .overlay,
  .popup-block-repair .overlay {
    background: rgba(42, 53, 63, 0.6);
    width: 100%;
    height: 100%;
    cursor: pointer;
    min-height: 1000px; }
  .popup-block-test-drive .popup,
  .popup-block-equipment .popup,
  .popup-block-repair .popup {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 10%;
    left: calc((100vw - 672px - 17px)/2);
    width: 672px;
    height: 700px;
    padding: 50px;
    background: #fff; }
  .popup-block-test-drive .repair-popup,
  .popup-block-equipment .repair-popup,
  .popup-block-repair .repair-popup {
    height: 820px; }
  .popup-block-test-drive h2,
  .popup-block-equipment h2,
  .popup-block-repair h2 {
    position: relative;
    font-size: 35px;
    font-weight: 100;
    padding-bottom: 30px;
    text-align: center; }
    .popup-block-test-drive h2::after,
    .popup-block-equipment h2::after,
    .popup-block-repair h2::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -19px;
      width: 38px;
      height: 2px;
      background: #EBEBEB; }
  .popup-block-test-drive p,
  .popup-block-equipment p,
  .popup-block-repair p {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    line-height: 26px; }
  .popup-block-test-drive strong,
  .popup-block-equipment strong,
  .popup-block-repair strong {
    color: #ee6a06; }
  .popup-block-test-drive .main-form,
  .popup-block-equipment .main-form,
  .popup-block-repair .main-form {
    margin-top: 10px;
    width: 100%; }
  .popup-block-test-drive .choose-car,
  .popup-block-equipment .choose-car,
  .popup-block-repair .choose-car {
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #9EAAAE;
    font-family: "Leto Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
    color: #42525a; }
    .popup-block-test-drive .choose-car + span,
    .popup-block-equipment .choose-car + span,
    .popup-block-repair .choose-car + span {
      -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
      transform: translateY(-25px);
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .popup-block-test-drive .choose-car:focus,
    .popup-block-equipment .choose-car:focus,
    .popup-block-repair .choose-car:focus {
      outline: none;
      border-bottom-color: #37515A; }
  .popup-block-test-drive .top,
  .popup-block-equipment .top,
  .popup-block-repair .top {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .popup-block-test-drive .popup-submit,
  .popup-block-equipment .popup-submit,
  .popup-block-repair .popup-submit {
    width: 100%; }
    .popup-block-test-drive .popup-submit:disabled,
    .popup-block-equipment .popup-submit:disabled,
    .popup-block-repair .popup-submit:disabled {
      border-color: #fcbf91;
      color: #fcbf91;
      cursor: default; }
      .popup-block-test-drive .popup-submit:disabled:hover,
      .popup-block-equipment .popup-submit:disabled:hover,
      .popup-block-repair .popup-submit:disabled:hover {
        background: none;
        color: #fcbf91; }
  .popup-block-test-drive .close-btn,
  .popup-block-equipment .close-btn,
  .popup-block-repair .close-btn {
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 0;
    width: 30.5px;
    height: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    border: none;
    cursor: pointer; }
    .popup-block-test-drive .close-btn::before, .popup-block-test-drive .close-btn::after,
    .popup-block-equipment .close-btn::before,
    .popup-block-equipment .close-btn::after,
    .popup-block-repair .close-btn::before,
    .popup-block-repair .close-btn::after {
      content: "";
      position: absolute;
      width: 44px;
      height: 2px;
      top: 0;
      background: #fff; }
    .popup-block-test-drive .close-btn::before,
    .popup-block-equipment .close-btn::before,
    .popup-block-repair .close-btn::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      left: 0; }
    .popup-block-test-drive .close-btn::after,
    .popup-block-equipment .close-btn::after,
    .popup-block-repair .close-btn::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
      transform-origin: top right;
      right: 0; }
    .popup-block-test-drive .close-btn:hover, .popup-block-test-drive .close-btn:focus,
    .popup-block-equipment .close-btn:hover,
    .popup-block-equipment .close-btn:focus,
    .popup-block-repair .close-btn:hover,
    .popup-block-repair .close-btn:focus {
      outline: none; }
      .popup-block-test-drive .close-btn:hover::before, .popup-block-test-drive .close-btn:hover::after, .popup-block-test-drive .close-btn:focus::before, .popup-block-test-drive .close-btn:focus::after,
      .popup-block-equipment .close-btn:hover::before,
      .popup-block-equipment .close-btn:hover::after,
      .popup-block-equipment .close-btn:focus::before,
      .popup-block-equipment .close-btn:focus::after,
      .popup-block-repair .close-btn:hover::before,
      .popup-block-repair .close-btn:hover::after,
      .popup-block-repair .close-btn:focus::before,
      .popup-block-repair .close-btn:focus::after {
        background: #ee6a06; }

.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.5s , visibility 0.5s, z-index 1s;
  -o-transition: opacity 0.5s , visibility 0.5s, z-index 1s;
  transition: opacity 0.5s , visibility 0.5s, z-index 1s; }

.no-scroll {
  overflow: hidden; }

/**
 * Cookie compliance
 */
.cookie-compliance {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1); }

.cookie-compliance__text {
  color: #231f20;
  font-size: 13px; }

.cookie-compliance__link {
  text-decoration: underline;
  -webkit-transition: text-decoration ease-in-out .2s;
  -o-transition: text-decoration ease-in-out .2s;
  -webkit-transition: -webkit-text-decoration ease-in-out .2s;
  transition: -webkit-text-decoration ease-in-out .2s;
  transition: text-decoration ease-in-out .2s;
  transition: text-decoration ease-in-out .2s, -webkit-text-decoration ease-in-out .2s; }

.cookie-compliance__link:hover {
  text-decoration: none; }

.cookie-compliance__btn {
  display: block;
  width: 102px;
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background: #ee6a06;
  font-size: 13px;
  -webkit-transition: background-color ease-in-out .2s;
  -o-transition: background-color ease-in-out .2s;
  transition: background-color ease-in-out .2s; }

.cookie-compliance__btn:hover {
  background-color: #d55f05;
  -webkit-transition: background-color ease-in-out .2s;
  -o-transition: background-color ease-in-out .2s;
  transition: background-color ease-in-out .2s; }

.personal-data {
  display: none; }
  .personal-data:checked + .custom-checkbox::before {
    background: #ee6a06 url("../img/icon-confirm.png") no-repeat center; }

.custom-checkbox {
  position: relative;
  margin-bottom: 15px;
  padding-left: 35px;
  cursor: pointer; }
  .custom-checkbox a {
    text-decoration: underline;
    line-height: 20px; }
  .custom-checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ee6a06; }

.main-page-slider {
  width: 100%;
  position: relative; }
  .main-page-slider .slide {
    width: 100%;
    max-width: 1470px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto; }
  .main-page-slider .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 32px; }
    .main-page-slider .owl-dots .owl-dot {
      width: 60px;
      height: 2px;
      background: #fff;
      margin: 0 5px; }
      .main-page-slider .owl-dots .owl-dot.active {
        background: #ee6a06; }
  .main-page-slider .owl-nav {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px; }
  .main-page-slider .owl-prev {
    left: 30px;
    top: -210px;
    position: absolute;
    width: 47px;
    height: 17px;
    padding: 20px 0;
    font-size: 0;
    background: url("../img/arrow-slider.png") no-repeat center; }
  .main-page-slider .owl-next {
    position: absolute;
    width: 47px;
    height: 17px;
    top: -210px;
    right: 30px;
    padding: 20px 0;
    font-size: 0;
    background: url("../img/arrow-slider.png") no-repeat center;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .main-page-slider .slider-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 80px;
    color: #fff; }
    .main-page-slider .slider-text h2 {
      padding-top: 75px;
      font-size: 62px;
      font-weight: 100; }
    .main-page-slider .slider-text p {
      padding-bottom: 45px;
      font-size: 16px;
      font-weight: 700; }

@media screen and (min-width: 1600px) and (max-width: 1700px) {
  .main-page-slider .owl-prev {
    left: 90px; }
  .main-page-slider .owl-next {
    right: 90px; } }

@media screen and (min-width: 1700px) and (max-width: 1800px) {
  .main-page-slider .owl-prev {
    left: 170px; }
  .main-page-slider .owl-next {
    right: 170px; } }

@media screen and (min-width: 1800px) and (max-width: 1970px) {
  .main-page-slider .owl-prev {
    left: 220px; }
  .main-page-slider .owl-next {
    right: 220px; } }

.btn {
  display: inline-block;
  position: relative;
  padding-right: 60px;
  font-family: "Leto Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff; }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 13px;
    background: url("../img/arrow-btn.png") no-repeat center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .btn:hover {
    color: #ee6a06; }
    .btn:hover::after {
      background: url("../img/arrow-btn-orange.png") no-repeat center;
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }

.dark-btn {
  color: #42525a; }
  .dark-btn::after {
    background: url("../img/arrow-btn-dark.png") no-repeat center;
    color: #42525a; }

.models-menu {
  margin-bottom: 80px;
  position: relative;
  border-bottom: 1px solid #D8E0E0; }
  .models-menu .inner {
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .models-menu .inner > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .models-menu .inner > ul li {
        border-left: 1px solid #D8E0E0; }
        .models-menu .inner > ul li > a {
          display: block;
          padding: 10px;
          margin: 25px 40px;
          text-transform: uppercase;
          font-family: "Roboto", Arial, sans-serif;
          font-size: 13px;
          font-weight: 500;
          color: #42525a;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
          .models-menu .inner > ul li > a:hover {
            color: #ee6a06;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
        .models-menu .inner > ul li:first-child {
          border: none; }
        .models-menu .inner > ul li:hover > .sub-menu {
          visibility: visible;
          opacity: 1; }
        .models-menu .inner > ul li:hover > a {
          color: #ee6a06;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .models-menu .inner > ul li > .sub-menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: visibility 0.2s, opacity 0.2s linear;
          -o-transition: visibility 0.2s, opacity 0.2s linear;
          transition: visibility 0.2s, opacity 0.2s linear;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          position: absolute;
          width: 100%;
          left: 0;
          top: -65px;
          z-index: 2;
          background: #EFF3F5;
          border-top: 1px solid #D8E0E0; }
          .models-menu .inner > ul li > .sub-menu > li {
            margin: 10px 0;
            padding: 0 30px;
            border: none; }
            .models-menu .inner > ul li > .sub-menu > li > a {
              padding: 15px 25px;
              margin: 0;
              font-size: 12px;
              text-decoration: underline; }
        .models-menu .inner > ul li .current-menu-item a {
          color: #ee6a06; }

.main-carousel .carousel-inner {
  overflow: hidden;
  width: 1600px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 90px; }

.main-carousel .owl-item img {
  width: 320px; }

.main-carousel .inner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main-carousel .inner .btn {
    margin-bottom: 95px; }

@media screen and (max-width: 1350px) {
  .main-carousel .carousel-inner {
    width: 960px; } }

@media screen and (min-width: 1350px) and (max-width: 1600px) {
  .main-carousel .carousel-inner {
    width: 1280px; } }

.main-about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Leto Sans", Arial, sans-serif;
  color: #231f20;
  margin-bottom: 115px;
  overflow: hidden; }
  .main-about .dot-title {
    position: relative;
    font-size: 35px;
    font-weight: 100;
    padding-bottom: 30px; }
    .main-about .dot-title::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #EBEBEB; }
    .main-about .dot-title::before {
      content: "";
      position: absolute;
      top: 25%;
      left: -40px;
      width: 10px;
      height: 10px;
      border: 2px solid #231f20;
      border-radius: 50%;
      background: #EBEBEB; }

.information-advantages {
  position: relative;
  padding: 233px 0 200px; }
  .information-advantages .about-image {
    width: 604px;
    height: 680px;
    margin-left: -215px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .information-advantages .information-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 25px 0 80px; }
    .information-advantages .information-block p {
      display: block;
      width: 676px;
      min-height: 200px;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px; }
      .information-advantages .information-block p:first-of-type:first-letter {
        float: left;
        font-size: 72px;
        margin: 20px 10px 10px -5px; }
  .information-advantages .advantages-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 400px; }
    .information-advantages .advantages-block .advantage {
      padding-top: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-transform: uppercase;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .information-advantages .advantages-block .advantage span {
        padding-left: 25px;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px; }
  .information-advantages:before {
    content: "";
    position: absolute;
    top: 0;
    left: 574px;
    width: 34px;
    height: 34px;
    background: url("../img/map-point-circle-lightgray.png") no-repeat center; }

.contacts-form {
  width: 100%;
  overflow: hidden; }
  .contacts-form .map-block {
    margin-right: -200px;
    position: relative;
    width: 815px;
    height: 720px;
    background: #fff; }
  .contacts-form .substrate {
    position: absolute;
    top: 0;
    left: 0;
    width: 815px;
    height: 720px;
    cursor: pointer; }
  .contacts-form address {
    position: relative;
    margin: 20px 0 40px;
    padding-left: 25px;
    font-style: normal;
    font-size: 14px; }
    .contacts-form address:before {
      content: "";
      position: absolute;
      width: 11px;
      height: 15px;
      top: 50%;
      margin-top: -7px;
      left: 0;
      background: url("../img/icons-header.png") no-repeat center;
      background-position: 0 0; }
  .contacts-form .phones {
    position: relative;
    height: 55px;
    padding-left: 25px;
    margin-bottom: 103px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400; }
    .contacts-form .phones span {
      font-weight: 700; }
    .contacts-form .phones:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 50%;
      margin-top: -7px;
      left: 0;
      background: url("../img/icons-header.png") no-repeat center;
      background-position: -53px 0; }

.main-form {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .main-form input[type="text"] {
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #9EAAAE;
    font-family: "Leto Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
    color: #42525a; }
    .main-form input[type="text"]:focus, .main-form input[type="text"]:valid {
      outline: none;
      border-bottom-color: #37515A; }
      .main-form input[type="text"]:focus + span, .main-form input[type="text"]:valid + span {
        -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        transform: translateY(-25px);
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s; }
  .main-form textarea {
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #9EAAAE;
    font-family: "Leto Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 0;
    color: #42525a;
    resize: none; }
    .main-form textarea:focus {
      outline: none;
      border-bottom-color: #37515A; }
  .main-form .fix-span {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .main-form input[type="text"].js-area {
    border-bottom: 2px solid #9EAAAE; }
    .main-form input[type="text"].js-area:focus {
      outline: none;
      border-bottom-color: #37515A; }
  .main-form label {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 35px; }
  .main-form .half {
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 45%; }
  .main-form span {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    color: #929292;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .main-form input[type="submit"] {
    padding: 20px 35px;
    font-family: "Leto Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #ee6a06;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #ee6a06;
    line-height: 15px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .main-form input[type="submit"]:hover {
      color: #fff;
      background: #ee6a06;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .main-form input[type="submit"]:focus {
      outline: none; }
  .main-form button {
    padding: 20px 35px;
    font-family: "Leto Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #ee6a06;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #ee6a06;
    line-height: 15px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .main-form button:hover {
      color: #fff;
      background: #ee6a06;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .main-form button:focus {
      outline: none; }
  .main-form .button-dis {
    color: grey;
    border: 2px solid grey; }

.main-line-svg {
  position: absolute;
  top: 10px;
  left: 0;
  margin-left: -163px;
  -webkit-animation: dash 20s linear infinite forwards;
  animation: dash 20s linear infinite forwards;
  z-index: -1; }

.map-line-svg {
  position: absolute;
  width: 386px;
  left: 0;
  top: 207px;
  height: 176px;
  -webkit-animation: dash-reverse 20s linear infinite forwards;
  animation: dash-reverse 20s linear infinite forwards; }

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 1000; } }

@keyframes dash {
  100% {
    stroke-dashoffset: 1000; } }

@-webkit-keyframes dash-reverse {
  0% {
    stroke-dashoffset: 1000; } }

@keyframes dash-reverse {
  0% {
    stroke-dashoffset: 1000; } }

.car-types-block .car-types-items {
  padding-top: 85px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #D8E0E0;
  font-size: 13px; }

.car-types-block .car-types-item {
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.car-types-block .car-types-img {
  min-width: 90px;
  height: 35px; }

.car-types-block h3 {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 0 20px; }

.car-types-block ul li a {
  display: block;
  padding: 5px 0;
  font-weight: 400;
  color: #42525a; }
  .car-types-block ul li a:hover {
    text-decoration: underline; }

.grecaptcha-badge {
  display: none; }

.breadcrumbs {
  margin-top: 45px; }
  .breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .breadcrumbs ul li {
      padding-right: 25px;
      position: relative; }
      .breadcrumbs ul li a {
        color: #42525a;
        font-size: 14px; }
      .breadcrumbs ul li:last-child a {
        color: #abaeaf; }
      .breadcrumbs ul li:last-child:after {
        display: none; }
      .breadcrumbs ul li:last-child:hover a {
        color: #abaeaf; }
      .breadcrumbs ul li:after {
        content: ">";
        position: absolute;
        top: 0;
        right: 9px;
        font-size: 14px;
        font-family: "Leto Sans", Arial, sans-serif; }
      .breadcrumbs ul li:hover a {
        color: #6e8794; }

.cars-catalog {
  background: #F6F9FB;
  padding-bottom: 100px;
  margin-bottom: 65px; }
  .cars-catalog .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .cars-catalog h1 {
    position: relative;
    font-size: 35px;
    font-weight: 100;
    padding-bottom: 30px;
    margin: 20px 0; }
    .cars-catalog h1::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #E2E2E2; }

.car-catalog-item {
  width: 100%;
  background: #fff;
  padding: 0 40px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(77, 76, 97, 0.13);
  box-shadow: 0 5px 15px 0 rgba(77, 76, 97, 0.13);
  margin-bottom: 20px; }
  .car-catalog-item .fake-input {
    display: none; }
  .car-catalog-item .fake-input:checked ~ label h2 {
    border-bottom: 1px solid #E8ECF0; }
  .car-catalog-item .fake-input:checked ~ label::after {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .car-catalog-item label {
    cursor: pointer;
    position: relative;
    display: block; }
    .car-catalog-item label::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      background: url("../img/arrow-catalog.png") no-repeat center;
      right: 0;
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s; }
  .car-catalog-item h2 {
    font-size: 14px;
    color: #231f20;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 1px solid transparent; }
  .car-catalog-item h3 {
    font-size: 25px;
    color: #231f20;
    font-weight: 100; }
    .car-catalog-item h3:first-child {
      padding-top: 50px; }
  .car-catalog-item .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #E8ECF0; }
    .car-catalog-item .content:last-child {
      border-bottom: 1px solid transparent; }
  .car-catalog-item .wrapper-for-js {
    display: none; }
  .car-catalog-item .content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 180px;
    margin-right: 40px;
    margin-bottom: 25px; }
    .car-catalog-item .content-item .link-title {
      margin-top: 20px;
      color: #231f20;
      font-weight: bold;
      text-transform: uppercase; }
    .car-catalog-item .content-item .img-wrapper {
      min-height: 100px;
      max-height: 110px; }
    .car-catalog-item .content-item:nth-child(5n) {
      margin-right: 0; }
    .car-catalog-item .content-item:hover .link-title {
      color: #ee6a06;
      text-decoration: underline; }

@-webkit-keyframes slideDown {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

@keyframes slideDown {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

.cars-line-svg {
  position: absolute;
  top: 12px;
  left: 0;
  margin-left: 58px;
  -webkit-animation: dash 20s linear infinite forwards;
  animation: dash 20s linear infinite forwards;
  z-index: 1; }

.cars-about {
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 500px; }
  .cars-about .information-advantages:before {
    left: 576px; }
  .cars-about .about-image {
    z-index: 2; }
  .cars-about .dot-title::before {
    z-index: 2; }

.no-border .car-types-items {
  padding: 0;
  border: none;
  z-index: 2; }

.car-types-margin {
  margin-top: -500px;
  padding-bottom: 55px; }

.color-tabs-block .inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.color-tabs-block input[name="color-tab-fake-input"] {
  display: none; }

.color-tabs-block input[name="color-tab-fake-input"]:checked + div {
  visibility: visible; }

.color-tabs-block .color-tabs-wrapper {
  margin-top: 20px;
  position: relative;
  height: 500px;
  padding-left: 80px; }

.color-tabs-block .car-image {
  visibility: hidden;
  position: absolute;
  top: 50%;
  margin-top: -230px;
  left: 50%;
  margin-left: -360px;
  width: 720px;
  height: 435px; }

.color-tabs-block h1 {
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #231f20;
  opacity: 0.1;
  font-size: 100px;
  font-weight: 700;
  z-index: -1;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.color-tabs-block .price {
  font-size: 17px;
  font-weight: 400;
  margin-left: 5px; }
  .color-tabs-block .price span {
    font-size: 35px; }

.color-tabs-block .right-buttons {
  position: absolute;
  right: 0;
  top: 150px; }
  .color-tabs-block .right-buttons li {
    display: block;
    position: relative; }
    .color-tabs-block .right-buttons li::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      margin-top: -15px;
      left: 10px; }
  .color-tabs-block .right-buttons .wheel::before {
    background: url("../img/icon-color-tabs-wheel.png") no-repeat center; }
  .color-tabs-block .right-buttons .credit::before {
    background: url("../img/icon-color-tabs-credit.png") no-repeat center; }
  .color-tabs-block .right-buttons .download::before {
    background: url("../img/icon-color-tabs-download.png") no-repeat center; }
  .color-tabs-block .right-buttons .color-tabs-button {
    display: block;
    width: 150px;
    margin-bottom: 20px;
    padding: 15px 10px 15px 50px;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #42525a;
    line-height: 16px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #D8E0E0;
    text-align: left;
    cursor: pointer; }
    .color-tabs-block .right-buttons .color-tabs-button:visited {
      outline: none;
      color: #42525a; }
    .color-tabs-block .right-buttons .color-tabs-button:hover, .color-tabs-block .right-buttons .color-tabs-button:active, .color-tabs-block .right-buttons .color-tabs-button:focus {
      outline: none;
      border: 1px solid #ee6a06; }

.color-tabs-block .color-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 30px;
  font-size: 0; }
  .color-tabs-block .color-pagination label {
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    height: 30px;
    cursor: pointer; }
    .color-tabs-block .color-pagination label span {
      display: block;
      font-size: 0;
      width: 64px;
      height: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .color-tabs-block .color-pagination label:last-child {
      margin-right: 0; }
    .color-tabs-block .color-pagination label:hover span {
      margin-top: -3px;
      height: 10px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

.catalog-item-tabs {
  position: relative; }
  .catalog-item-tabs input[name="catalog-item-tab-fake-input"],
  .catalog-item-tabs input[name="gallery-tab-fake-input"] {
    display: none; }
  .catalog-item-tabs .tab,
  .catalog-item-tabs .tab-inside-gallery {
    display: none; }
  .catalog-item-tabs input[id="description"]:checked ~ #description-tab,
  .catalog-item-tabs input[id="characteristics"]:checked ~ #characteristics-tab,
  .catalog-item-tabs input[id="gallery"]:checked ~ #gallery-tab,
  .catalog-item-tabs input[id="equipment"]:checked ~ #equipment-tab,
  .catalog-item-tabs input[id="exterior"]:checked ~ #exterior-tab,
  .catalog-item-tabs input[id="interior"]:checked ~ #interior-tab {
    display: block; }
  .catalog-item-tabs input[id="description"]:checked ~ .tab-controls label[for="description"],
  .catalog-item-tabs input[id="characteristics"]:checked ~ .tab-controls label[for="characteristics"],
  .catalog-item-tabs input[id="gallery"]:checked ~ .tab-controls label[for="gallery"],
  .catalog-item-tabs input[id="equipment"]:checked ~ .tab-controls label[for="equipment"],
  .catalog-item-tabs input[id="exterior"]:checked ~ .tab-controls label[for="exterior"],
  .catalog-item-tabs input[id="interior"]:checked ~ .tab-controls label[for="interior"] {
    color: #2b4fb2;
    border-bottom: 2px solid #2b4fb2; }
  .catalog-item-tabs .fixed-tabs {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px calc((100vw - 1170px - 17px)/2) 0;
    z-index: 10; }
  .catalog-item-tabs .tabs-menu-wrapper {
    width: 100%;
    height: 97px; }
  .catalog-item-tabs .tab-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    border-bottom: 1px solid #D8E0E0;
    text-transform: uppercase;
    background: #fff; }
    .catalog-item-tabs .tab-controls .inner {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .catalog-item-tabs .tab-controls label {
      font-family: "Roboto", Arial, sans-serif;
      color: #42525a;
      font-size: 13px;
      cursor: pointer;
      padding: 20px 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center;
      border-bottom: 2px solid transparent;
      margin-bottom: -1px; }
      .catalog-item-tabs .tab-controls label:focus {
        outline: none;
        color: #2b4fb2;
        border-bottom: 2px solid #2b4fb2; }
      .catalog-item-tabs .tab-controls label:hover {
        color: #2b4fb2; }
    .catalog-item-tabs .tab-controls a {
      position: relative;
      margin-left: 20px;
      padding: 15px 15px 15px 45px;
      font-family: "Leto Sans", Arial, sans-serif;
      font-weight: 700;
      font-size: 12px;
      color: #ee6a06;
      border: 2px solid #ee6a06; }
      .catalog-item-tabs .tab-controls a::before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -9px;
        left: 15px;
        background: url("../img/icon-download-sprite.png") no-repeat;
        width: 19px;
        height: 18px;
        background-position: 0 0; }
      .catalog-item-tabs .tab-controls a:hover, .catalog-item-tabs .tab-controls a:active, .catalog-item-tabs .tab-controls a:focus {
        color: #fff;
        background: #ee6a06;
        outline: none; }
        .catalog-item-tabs .tab-controls a:hover::before, .catalog-item-tabs .tab-controls a:active::before, .catalog-item-tabs .tab-controls a:focus::before {
          background-position: -19px 0; }
  .catalog-item-tabs .tab {
    position: relative;
    width: 100%;
    font-family: "Leto Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px; }
    .catalog-item-tabs .tab .inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .catalog-item-tabs .tab .video-preview {
      position: relative;
      width: 100%;
      height: 320px;
      margin-bottom: 30px; }
    .catalog-item-tabs .tab .play-video {
      position: absolute;
      top: 50%;
      margin-top: -50px;
      left: 50%;
      margin-left: -62px;
      width: 125px;
      height: 125px;
      background: url("../img/play-button.png") no-repeat center;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      font-size: 0;
      cursor: pointer; }
    .catalog-item-tabs .tab .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin: 50px 0; }
    .catalog-item-tabs .tab .block-reverse {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .catalog-item-tabs .tab .block-reverse.mini-gallery {
        margin-right: 0;
        margin-left: 70px; }
      .catalog-item-tabs .tab .block-reverse.content-image {
        margin-right: 0;
        margin-left: 70px; }
    .catalog-item-tabs .tab .content-image {
      width: 500px;
      height: 400px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 70px; }
    .catalog-item-tabs .tab h2 {
      display: block;
      position: relative;
      color: #231f20;
      font-size: 30px;
      font-weight: 100;
      line-height: 40px;
      margin-bottom: 30px;
      text-align: left; }
      .catalog-item-tabs .tab h2::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 38px;
        height: 2px;
        background: #DDDDDD; }
    .catalog-item-tabs .tab .text {
      text-align: justify; }
    .catalog-item-tabs .tab .first-letter:first-letter {
      float: left;
      font-size: 72px;
      margin: 20px 10px 10px -5px; }
    .catalog-item-tabs .tab ul {
      padding-left: 30px; }
    .catalog-item-tabs .tab li {
      margin-bottom: 10px;
      line-height: 20px;
      position: relative; }
      .catalog-item-tabs .tab li::before {
        content: "";
        position: absolute;
        left: -25px;
        top: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #E7E0E1; }
  .catalog-item-tabs .mini-gallery {
    width: 500px;
    margin-right: 70px;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .catalog-item-tabs .mini-gallery .main-image {
      margin-bottom: 20px;
      width: 100%;
      height: 300px; }
    .catalog-item-tabs .mini-gallery .thumbnail {
      display: block;
      width: 115px;
      height: 100px;
      cursor: pointer; }
    .catalog-item-tabs .mini-gallery .owl-nav {
      position: relative;
      width: 100%;
      height: 0; }
    .catalog-item-tabs .mini-gallery .owl-prev,
    .catalog-item-tabs .mini-gallery .owl-next {
      position: absolute;
      top: -100px;
      font-size: 0;
      background: url("../img/arrow-mini-gallery.png") no-repeat 0 center;
      width: 50px;
      height: 100px; }
      .catalog-item-tabs .mini-gallery .owl-prev:hover,
      .catalog-item-tabs .mini-gallery .owl-next:hover {
        background: url("../img/arrow-mini-gallery.png") no-repeat -50px center; }
    .catalog-item-tabs .mini-gallery .owl-prev.disabled,
    .catalog-item-tabs .mini-gallery .owl-next.disabled {
      display: none; }
    .catalog-item-tabs .mini-gallery .owl-prev {
      left: -50px; }
    .catalog-item-tabs .mini-gallery .owl-next {
      right: -50px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .catalog-item-tabs table {
    width: 100% !important;
    margin: 10px 0 130px !important;
    font-size: 15px !important;
    font-family: "Leto Sans", Arial, sans-serif !important;
    font-weight: 400 !important;
    border: none !important; }
    .catalog-item-tabs table td {
      padding: 15px 0 !important;
      width: 12.5% !important; }
    .catalog-item-tabs table td:first-child {
      width: 50% !important;
      padding-left: 25px !important; }
    .catalog-item-tabs table tr:nth-child(2n) {
      background: #F7F7F7 !important; }
    .catalog-item-tabs table tr:first-child {
      color: #808080 !important;
      font-size: 15px !important; }
  .catalog-item-tabs .grid {
    position: relative;
    margin: 0 0 40px; }
  .catalog-item-tabs .preloader {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 1; }
  .catalog-item-tabs .show-more {
    display: block;
    position: relative;
    padding: 15px 37px;
    font-family: "Leto Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #ee6a06;
    border: 2px solid #ee6a06;
    background: none;
    margin: 0 auto 120px;
    cursor: pointer; }
    .catalog-item-tabs .show-more:hover, .catalog-item-tabs .show-more:active, .catalog-item-tabs .show-more:focus {
      color: #fff;
      background: #ee6a06;
      outline: none; }
      .catalog-item-tabs .show-more:hover::before, .catalog-item-tabs .show-more:active::before, .catalog-item-tabs .show-more:focus::before {
        background-position: -19px 0; }
  .catalog-item-tabs label[for="exterior"],
  .catalog-item-tabs label[for="interior"] {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding-left: 70px;
    padding-right: 70px; }
  .catalog-item-tabs .equipment-tab .inner {
    margin: 100px auto;
    padding: 0 115px; }
  .catalog-item-tabs .equipment-tab .equipment-block {
    padding: 30px 30px 15px;
    border: 1px solid #EBEFEF;
    margin-bottom: 20px; }
  .catalog-item-tabs .equipment-tab .equipment-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px; }
  .catalog-item-tabs .equipment-tab h3 {
    position: relative;
    margin-bottom: 20px;
    color: #42525a;
    font-size: 20px;
    font-weight: 400; }
    .catalog-item-tabs .equipment-tab h3::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #DDDDDD; }
  .catalog-item-tabs .equipment-tab .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30%;
    font-size: 15px;
    font-weight: 400;
    color: #231f20; }
  .catalog-item-tabs .equipment-tab .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 17%;
    font-size: 15px;
    font-weight: 400;
    color: #ee6a06; }
  .catalog-item-tabs .equipment-tab .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 400;
    color: #231f20;
    padding-right: 100px; }
    .catalog-item-tabs .equipment-tab .price span {
      font-weight: 700;
      font-size: 18px; }
  .catalog-item-tabs .equipment-tab .request-btn {
    display: block;
    width: 18%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    position: relative;
    padding: 15px 10px;
    font-family: "Leto Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #2b4fb2;
    border: 2px solid #D3DDF1;
    background: none;
    cursor: pointer;
    text-transform: uppercase; }
    .catalog-item-tabs .equipment-tab .request-btn:hover, .catalog-item-tabs .equipment-tab .request-btn:active, .catalog-item-tabs .equipment-tab .request-btn:focus {
      border-color: #2b4fb2;
      outline: none; }
      .catalog-item-tabs .equipment-tab .request-btn:hover::before, .catalog-item-tabs .equipment-tab .request-btn:active::before, .catalog-item-tabs .equipment-tab .request-btn:focus::before {
        background-position: -19px 0; }

.steps-block {
  background: -webkit-gradient(linear, left top, right top, from(#F8F8F8), color-stop(50%, #F8F8F8), color-stop(50%, #304856), to(#304856));
  background: -webkit-linear-gradient(left, #F8F8F8 0%, #F8F8F8 50%, #304856 50%, #304856 100%);
  background: -o-linear-gradient(left, #F8F8F8 0%, #F8F8F8 50%, #304856 50%, #304856 100%);
  background: linear-gradient(to right, #F8F8F8 0%, #F8F8F8 50%, #304856 50%, #304856 100%);
  position: relative;
  height: 380px;
  margin-bottom: 70px; }
  .steps-block .bg1 {
    position: absolute;
    top: 0;
    left: 0;
    background: #F8F8F8 url("../img/catalog-bg-1.jpg") right;
    height: 100%;
    width: 50%; }
  .steps-block .bg2 {
    position: absolute;
    top: 0;
    right: 0;
    background: #304856 url("../img/catalog-bg-2.jpg");
    height: 100%;
    width: 50%; }
  .steps-block h2 {
    display: block;
    position: relative;
    color: #231f20;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 60px; }
    .steps-block h2::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #DDDDDD; }
  .steps-block .buttons-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .steps-block .buttons-row li {
      position: relative;
      margin-left: 50px; }
      .steps-block .buttons-row li:first-child {
        border-right: 1px solid #C6C6C6;
        padding-right: 60px;
        margin-left: 0; }
      .steps-block .buttons-row li::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        margin-top: -15px;
        left: 0; }
    .steps-block .buttons-row .wheel::before {
      background: url("../img/icon-color-tabs-wheel.png") no-repeat center; }
    .steps-block .buttons-row .credit::before {
      background: url("../img/icon-color-tabs-credit.png") no-repeat center; }
    .steps-block .buttons-row .download::before {
      background: url("../img/icon-color-tabs-download.png") no-repeat center; }
    .steps-block .buttons-row .step-button {
      display: block;
      width: 150px;
      padding: 0 10px 0 50px;
      margin: 50px 0;
      font-family: inherit;
      font-weight: 700;
      font-size: 13px;
      text-transform: uppercase;
      color: #231f20;
      line-height: 16px;
      background: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      text-align: left;
      cursor: pointer; }
      .steps-block .buttons-row .step-button:visited {
        outline: none; }
      .steps-block .buttons-row .step-button:hover, .steps-block .buttons-row .step-button:active, .steps-block .buttons-row .step-button:focus {
        outline: none;
        color: #ee6a06; }
  .steps-block .first-step {
    padding-right: 100px;
    padding-top: 55px; }
  .steps-block .second-step {
    padding-left: 100px;
    padding-top: 55px; }
    .steps-block .second-step h2 {
      color: #f5f5f5; }
      .steps-block .second-step h2::after {
        background: #596E7A; }
    .steps-block .second-step .buttons-row li:first-child {
      border-right: 1px solid #596E7A; }
    .steps-block .second-step .buttons-row li .step-button {
      color: #f5f5f5; }
      .steps-block .second-step .buttons-row li .step-button:hover, .steps-block .second-step .buttons-row li .step-button:active, .steps-block .second-step .buttons-row li .step-button:focus {
        outline: none;
        color: #ee6a06; }

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  position: relative; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ee6a06;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.fancybox-slide > * {
  padding: 0; }

.content-page .inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px; }

.content-page .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 35px 0; }

.content-page .block-reverse {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }
  .content-page .block-reverse.mini-gallery {
    margin-right: 0;
    margin-left: 70px; }
  .content-page .block-reverse.content-image {
    margin-right: 0;
    margin-left: 40px; }
  .content-page .block-reverse.text_2 {
    margin-left: 80px; }

.content-page .content-image {
  width: 500px;
  height: 400px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 40px; }

.content-page .title {
  display: block;
  position: relative;
  color: #231f20;
  font-size: 30px;
  font-weight: 100;
  line-height: 40px;
  margin-bottom: 30px; }
  .content-page .title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 38px;
    height: 2px;
    background: #DDDDDD; }

.content-page h1 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 10px; }

.content-page h2 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 10px; }

.content-page h3 {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 10px; }

.content-page h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px; }

.content-page .text {
  min-width: 50%;
  text-align: justify; }

.content-page .text_2 {
  width: 500px;
  text-align: justify;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 80px; }

.content-page .content-image + .text {
  padding-left: 40px; }

.content-page .content-image.block-reverse + .text {
  padding-left: 0;
  padding-right: 40px; }

.content-page p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px; }

.content-page .first-letter:first-letter {
  float: left;
  font-size: 72px;
  margin: 20px 10px 10px -5px; }

.content-page ul {
  padding-left: 30px; }
  .content-page ul li {
    margin-bottom: 10px;
    line-height: 20px;
    position: relative; }
    .content-page ul li::before {
      content: "";
      position: absolute;
      left: -25px;
      top: 8px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #E7E0E1; }

.content-page a {
  color: #2b4fb2; }

.mini-gallery {
  width: 500px;
  margin-right: 70px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .mini-gallery .main-image {
    margin-bottom: 20px;
    width: 100%;
    height: 300px; }
  .mini-gallery .thumbnail {
    display: block;
    width: 115px;
    height: 100px;
    cursor: pointer; }
  .mini-gallery .owl-nav {
    position: relative;
    width: 100%;
    height: 0; }
  .mini-gallery .owl-prev,
  .mini-gallery .owl-next {
    position: absolute;
    top: -100px;
    font-size: 0;
    background: url("../img/arrow-mini-gallery.png") no-repeat 0 center;
    width: 50px;
    height: 100px; }
    .mini-gallery .owl-prev:hover,
    .mini-gallery .owl-next:hover {
      background: url("../img/arrow-mini-gallery.png") no-repeat -50px center; }
  .mini-gallery .owl-prev.disabled,
  .mini-gallery .owl-next.disabled {
    display: none; }
  .mini-gallery .owl-prev {
    left: -50px; }
  .mini-gallery .owl-next {
    right: -50px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

ol {
  counter-reset: myCounter; }

ol li {
  list-style: none;
  padding-left: 30px; }

ol li:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #42525a;
  font-size: 11px;
  font-family: "Leto Sans", Arial, sans-serif;
  font-weight: 700;
  background: #EBEBEB;
  display: inline-block;
  text-align: center;
  margin: 5px 10px 5px -30px;
  line-height: 17px;
  width: 20px;
  height: 17px; }

.buttons-block {
  margin-bottom: 50px; }
  .buttons-block button {
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    font-family: "Leto Sans", Arial, sans-serif;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #42525a;
    padding: 15px 10px 15px 50px;
    line-height: 16px;
    border: 1px solid #D8E0E0;
    cursor: pointer; }
    .buttons-block button::before {
      content: "";
      position: absolute;
      left: 16px;
      top: 50%;
      margin-top: -11px;
      background: url("../img/icons-header.png") no-repeat center;
      width: 21px;
      height: 20px;
      background-position: -123px 0; }
    .buttons-block button:hover, .buttons-block button:focus {
      outline: none;
      border-color: #ee6a06; }

.sales-block {
  padding: 60px 0; }
  .sales-block ul {
    padding-left: 30px; }
    .sales-block ul li {
      margin-bottom: 10px;
      line-height: 20px;
      position: relative; }
      .sales-block ul li::before {
        content: "";
        position: absolute;
        left: -25px;
        top: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #E7E0E1; }
  .sales-block .title {
    display: inline-block;
    width: 500px;
    position: relative;
    color: #231f20;
    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
    margin-bottom: 30px; }
    .sales-block .title::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #DDDDDD; }
  .sales-block h1 {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 10px; }
  .sales-block h2 {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px; }
  .sales-block h3 {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 10px; }
  .sales-block h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .sales-block p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px; }
  .sales-block .first-letter:first-letter {
    float: left;
    font-size: 72px;
    margin: 20px 10px 10px -5px; }
  .sales-block .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .sales-block .post-img {
    float: left; }
    .sales-block .post-img img {
      max-height: 465px;
      max-width: 500px;
      margin-right: 40px;
      margin-bottom: 20px; }

.sales-request {
  padding-top: 50px; }
  .sales-request .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: inherit; }
  .sales-request h2 {
    text-align: center;
    font-weight: 100;
    font-size: 30px; }
  .sales-request .sales-line {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -440px;
    -webkit-animation: dash-reverse 20s linear infinite forwards;
    animation: dash-reverse 20s linear infinite forwards; }
  .sales-request .sale-form-bg {
    background: url("../img/bg-sale-form.jpg") no-repeat center;
    width: 100%;
    height: 240px;
    margin: 110px 0 90px; }
    .sales-request .sale-form-bg .inner {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .sales-request .sale-form-bg .inner::before {
        content: "";
        position: absolute;
        top: -80px;
        left: 50%;
        margin-left: -17px;
        width: 34px;
        height: 34px;
        background: url("../img/map-point-circle-lightgray.png") no-repeat center; }
  .sales-request .sale-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .sales-request .sale-form input {
      width: 290px;
      height: 50px;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0 20px;
      font-family: "Leto Sans", Arial, sans-serif;
      font-size: 14px;
      color: #231f20; }
    .sales-request .sale-form input[type="text"] {
      border-left: 4px solid #E1E1E1;
      font-weight: 400; }
    .sales-request .sale-form input[type="submit"] {
      background: #0091ED;
      color: #fff;
      font-size: 13px;
      line-height: 50px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer; }

.credit-title-margin {
  margin-top: 30px; }

.credit-form-block .inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.credit-form-block .form-header {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 30px; }

.credit-form {
  width: 100%; }
  .credit-form .fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;
    border: none;
    padding: 0;
    margin: 0 0 90px; }
  .credit-form .first {
    padding-right: 115px; }
  .credit-form .second {
    padding-left: 70px; }
  .credit-form .credit-submit {
    width: 175px; }
    .credit-form .credit-submit:disabled {
      border-color: #fcbf91;
      color: #fcbf91;
      cursor: default; }
      .credit-form .credit-submit:disabled:hover {
        background: none;
        color: #fcbf91; }
  .credit-form .custom-checkbox {
    line-height: 20px; }
  .credit-form .custom-radio {
    position: relative;
    margin-bottom: 15px;
    padding-left: 35px;
    line-height: 20px;
    cursor: pointer;
    color: #42525a;
    font-size: 13px; }
    .credit-form .custom-radio::before {
      content: "";
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #a0a8ac; }
  .credit-form .radio-header {
    margin: 15px 0 35px;
    font-size: 14px; }
  .credit-form .hidden-radio {
    display: none; }
    .credit-form .hidden-radio:checked + .custom-radio::after {
      content: "";
      position: absolute;
      left: 3px;
      top: 50%;
      margin-top: -7px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #ee6a06; }

.sales-list-block {
  background: #EFF3F5;
  padding-bottom: 30px;
  margin-bottom: 80px; }
  .sales-list-block .inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .sales-list-block .breadcrumbs {
    margin: 0;
    padding: 45px 0 35px; }
  .sales-list-block .title {
    display: block;
    width: 100%;
    position: relative;
    color: #231f20;
    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
    margin-bottom: 60px; }
    .sales-list-block .title::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 38px;
      height: 2px;
      background: #DDDDDD; }
  .sales-list-block .sales-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 270px;
    margin-right: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    -webkit-box-shadow: 0 5px 15px 0 rgba(77, 76, 97, 0.13);
    box-shadow: 0 5px 15px 0 rgba(77, 76, 97, 0.13);
    margin-bottom: 60px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .sales-list-block .sales-item:nth-of-type(4n) {
      margin-right: 0; }
    .sales-list-block .sales-item:hover {
      -webkit-box-shadow: 0 5px 28px 0 rgba(77, 76, 97, 0.37);
      box-shadow: 0 5px 28px 0 rgba(77, 76, 97, 0.37);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .sales-list-block .sales-item:hover .link-title {
        color: #ee6a06; }
  .sales-list-block .img-wrapper {
    height: 160px;
    width: 100%;
    overflow: hidden; }
    .sales-list-block .img-wrapper img {
      width: 100%;
      height: 160px;
      -o-object-fit: cover;
      object-fit: cover; }
  .sales-list-block .link-title {
    padding: 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px; }
